## Installing necessary libraries

In [290]:
# %%bash

# # Dependencies
# pip install docx2txt
# pip install strsimpy
# pip install python-docx
# pip install pandas

# if ls docx2csv >/dev/null 2>&1; then
#     echo "docx2csv exists."
# else
#     echo "Folder does not exist. Cloning docx2csv."
#     git clone https://github.com/ivbeg/docx2csv.git
# fi

In [291]:
# %%bash

# source .env
# cd docx2csv && echo "$PASSWORD" | sudo -S python3 setup.py install

In [619]:
# ----- TEST DATA INPUT -----

# Computer Science Test Data.
# CURRENT_MAPPING="Lists_ComputerScience.docx"
# ORIGINAL_MAPPING="Original-Mapping-ComputerScience.csv"
# PO_LABEL="P"

# InformationSecurity Test Data.
# CURRENT_MAPPING="Lists_InformationSecurity.docx"
# ORIGINAL_MAPPING="Original-Mapping-InfoSecurity.csv"
# PO_LABEL="P"
ADJUSTMENT_THRESHOLD=0.35

# Monash Engineering Test Data.
CURRENT_MAPPING="Lists_MonashEngineering.docx"
ORIGINAL_MAPPING="Original-Mapping-MonashEngineering.csv"
PO_LABEL="PO"

# Program Outcome & Regulatory Body Requirements Table.
PROGRAM_OUTCOME_TABLE="Professional Body PO Comparisons.docx"

In [620]:
# importing necessary libraries
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

In [621]:
# extract tables from word document
from docx2csv import extract_tables, extract
tables = extract_tables(CURRENT_MAPPING)

In [622]:
from docx import Document
document = Document(CURRENT_MAPPING)

In [623]:
def read_docx_table(document,table_num):
  table = document.tables[table_num-1]
  data = [[cell.text for cell in row.cells] for row in table.rows]
  df = pd.DataFrame(data)
  return df

## PLO TABLE

In [624]:
# Creating a dataframe for PLOs and it will accept 'n' number of PLOs
table_num=1
df = read_docx_table(document,table_num)
df.head(n=12)

       0                                                  1
0    PO1  Apply knowledge of mathematics, natural scienc...
1    PO2  Identify, formulate, survey research literatur...
2    PO3  Design solutions for complex Software engineer...
3    PO4  Conduct investigations of complex Software eng...
4    PO5  Create, select and apply appropriate technique...
5    PO6  Apply reasoning informed by contextual knowled...
6    PO7  Understand and evaluate the sustainability and...
7    PO8  Apply ethical principles and commit to profess...
8    PO9  Communicate effectively on complex Software en...
9   PO10  Function effectively as an individual, and as ...
10  PO11  Recognize the need for, and have the preparati...
11  PO12  Demonstrate knowledge and understanding of eng...

In [625]:
q1 = df.copy()
df_po = df.copy()

In [626]:
# assigning count vectorizer
count_vectorizer = CountVectorizer(stop_words='english', min_df=0.005)

In [627]:
# Remove integers

# Data preprocessing for PLO dataframe
q1[1] = q1[1].str.lower()
corpus = q1[1].tolist()
corpii = count_vectorizer.fit_transform(corpus)
corpus

['apply knowledge of mathematics, natural science, engineering fundamentals and specialization in software engineering to the solution of complex engineering problems;\n',
 'identify, formulate, survey research literature and analyze complex software engineering problems reaching substantiated conclusions using first principles of mathematics, natural sciences and engineering sciences;\n',
 'design solutions for complex software engineering problems and design systems, components or processes that meet specified needs;',
 'conduct investigations of complex software engineering problems using research-based knowledge and research methods including design of experiments, analysis and interpretation of data, and synthesis of information to provide valid conclusions;',
 'create, select and apply appropriate techniques, resources, and modern engineering and it tools, including prediction and modelling, to complex software engineering problems, with an understanding of the limitations;',
 'apply reasoning informed by contextual knowledge to assess societal, health, safety, legal and cultural issues and the consequent responsibilities relevant to professional engineering practice and solutions to complex software engineering problems;',
 'understand and evaluate the sustainability and impact of professional engineering work in the solution of complex software engineering problems in environmental contexts;',
 'apply ethical principles and commit to professional ethics and responsibilities and norms of engineering practice;',
 'communicate effectively on complex software engineering activities with the engineering community and with society at large, such as being able to comprehend and write effective reports and design documentation, make effective presentations, and give and receive clear instructions;',
 'function effectively as an individual, and as a member or leader in diverse teams and in multi-disciplinary settings;\n',
 'recognize the need for, and have the preparation and ability to engage in independent and life-long learning in the broadest context of technological change;',
 'demonstrate knowledge and understanding of engineering management principles and economic decision-making and apply these to manage projects;']

In [628]:
corpii

<12x128 sparse matrix of type '<class 'numpy.int64'>'
	with 182 stored elements in Compressed Sparse Row format>

In [629]:
# extracting features names from PLO table
feature_names = count_vectorizer.get_feature_names_out()
feature_names

array(['ability', 'able', 'activities', 'analysis', 'analyze', 'apply',
       'appropriate', 'assess', 'based', 'broadest', 'change', 'clear',
       'commit', 'communicate', 'community', 'complex', 'components',
       'comprehend', 'conclusions', 'conduct', 'consequent', 'context',
       'contexts', 'contextual', 'create', 'cultural', 'data', 'decision',
       'demonstrate', 'design', 'disciplinary', 'diverse',
       'documentation', 'economic', 'effective', 'effectively', 'engage',
       'engineering', 'environmental', 'ethical', 'ethics', 'evaluate',
       'experiments', 'formulate', 'function', 'fundamentals', 'health',
       'identify', 'impact', 'including', 'independent', 'individual',
       'information', 'informed', 'instructions', 'interpretation',
       'investigations', 'issues', 'knowledge', 'large', 'leader',
       'learning', 'legal', 'life', 'limitations', 'literature', 'long',
       'make', 'making', 'manage', 'management', 'mathematics', 'meet',
       'member', 'methods', 'modelling', 'modern', 'multi', 'natural',
       'need', 'needs', 'norms', 'practice', 'prediction', 'preparation',
       'presentations', 'principles', 'problems', 'processes',
       'professional', 'projects', 'provide', 'reaching', 'reasoning',
       'receive', 'recognize', 'relevant', 'reports', 'research',
       'resources', 'responsibilities', 'safety', 'science', 'sciences',
       'select', 'settings', 'societal', 'society', 'software',
       'solution', 'solutions', 'specialization', 'specified',
       'substantiated', 'survey', 'sustainability', 'synthesis',
       'systems', 'teams', 'techniques', 'technological', 'tools',
       'understand', 'understanding', 'using', 'valid', 'work', 'write'],
      dtype=object)

In [630]:
len(feature_names)

128

In [631]:
# Converting features to vector form and create a dataframe
X1 = pd.DataFrame(corpii.toarray(), columns=feature_names)

## CLO TABLE

In [632]:
# Creating a dataframe for CLOs and it will accept 'n' number of CLOs
table_num=2
df1 = read_docx_table(document,table_num)
p1 = df1.copy()
df_clo = df1.copy()

In [633]:
# Data preprocessing for CLO dataframe
p1[1] = p1[1].str.lower()
corpus11 = p1[1].tolist()
corpii11 = count_vectorizer.fit_transform(corpus11)

In [634]:
# extracting features names from CLO table
feature_names1 = count_vectorizer.get_feature_names_out()

In [635]:
len(feature_names1)

454

In [636]:
# Converting features to vector form and create a dataframe
X2 = pd.DataFrame(corpii11.toarray(), columns=feature_names1)
X2

,ability,abstract,acceptable,accordance,achieve,achieved,actions,activities,adopt,advanced,...,visualisations,vocabulary,wired,wireless,work,working,worst,write,writing,written
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
83,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
84,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
85,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
86,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1

In [637]:
X2.head()

,ability,abstract,acceptable,accordance,achieve,achieved,actions,activities,adopt,advanced,...,visualisations,vocabulary,wired,wireless,work,working,worst,write,writing,written
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [638]:
# adding column index to the CLO table
U2 = pd.concat([df1[0], X2], axis=1)
U2.set_index(0, inplace=True)

In [639]:
U2.head()

,ability,abstract,acceptable,accordance,achieve,achieved,actions,activities,adopt,advanced,...,visualisations,vocabulary,wired,wireless,work,working,worst,write,writing,written
0,,,,,,,,,,,,,,,,,,,,,
LO1-MA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
LO2-MA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
LO3-MA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
LO4-MA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
LO5-MA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [640]:
# adding column index to the PLO table
U1 = pd.concat([df[0], X1], axis=1)
U1.set_index(0, inplace=True)

In [641]:
U1

,ability,able,activities,analysis,analyze,apply,appropriate,assess,based,broadest,...,teams,techniques,technological,tools,understand,understanding,using,valid,work,write
0,,,,,,,,,,,,,,,,,,,,,
PO1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
PO2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
PO3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
PO4,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,1,0,0
PO5,0,0,0,0,0,1,1,0,0,0,...,0,1,0,1,0,1,0,0,0,0
PO6,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
PO7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
PO8,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
PO9,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
PO10,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
PO11,1,0,0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
PO12,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

## Intersection method for both CLOs and PLOs

### Generalised list of words

In [642]:
append_words = list(map(str.lower,['Cite', 'Define', 'Describe', 'Draw', 'Enumerate', 'Identify' 'Index', 'Indicate', 'Label', 'List', 'Match', 'Meet', 'Name', 'Outline', 'Point', 'Quote', 'Read', 'Recall', 'Recite', 'Recognize', 'Record', 'Repeat', 'Reproduce','Review',
'Select', 'State', 'Study', 'Tabulate', 'Trace', 'Write', 'Add', 'Approximate', 'Articulate', 'Associate', 'Characterize', 'Clarify', 'Classify', 'Compare', 'Compute', 'Contrast', 'Convert', 'Defend', 'Detail', 'Differentiate',
'Discuss', 'Distinguish', 'Elaborate', 'Estimate', 'Example', 'Explain', 'Express', 'Extend', 'Extrapolate', 'Factor', 'Generalize', 'Give', 'Infer', 'Interact', 'Interpolate', 'Interpret', 'Observe', 'Paraphrase', 'Picture graphically',
'Predict', 'Rewrite', 'Subtract', 'Summarize', 'Translate', 'Visualize', 'Acquire', 'Adapt', 'Allocate', 'Alphabetize', 'Apply', 'Ascertain', 'Assign', 'Attain', 'Avoid', 'Back up', 'Calculate', 'Capture', 'Change', 'Complete', 'Construct', 
'Customize', 'Demonstrate', 'Depreciate', 'Derive', 'Determine', 'Diminish', 'Discover', 'Employ', 'Examine', 'Exercise', 'Explore', 'Expose', 'Figure', 'Graph', 'Handle', 'Illustrate', 'Interconvert', 'Investigate', 'Manipulate', 'Modify', 
'Operate', 'Personalize', 'Plot','Practice', 'Prepare', 'Price', 'Process', 'Produce', 'Project', 'Provide', 'Relate', 'Round off', 'Sequence', 'Show', 'Simulate', 'Sketch', 'Solve', 'Subscribe', 'Transcribe', 'Use', 'Analyze', 'Audit', 
'Blueprint', 'Breadboard', 'Break down', 'Confirm', 'Correlate', 'Detect', 'Diagnose', 'Diagram', 'Discriminate', 'Dissect', 'Document', 'Ensure', 'Figure out', 'File', 'Group', 'Interrupt', 'Inventory', 'Layout', 'Manage', 'Maximize', 
'Minimize', 'Optimize', 'Order', 'Point out', 'Prioritize', 'Proofread', 'Query', 'Separate', 'Subdivide', 'Train', 'Transform', 'Appraise', 'Assess', 'Conclude', 'Counsel', 'Criticize', 'Critique', 'Evaluate', 'Grade', 'Hire', 'Judge', 
'Justify', 'Measure', 'Prescribe', 'Rank', 'Rate', 'Recommend', 'Release', 'Support', 'Test', 'Validate', 'Verify', 'Abstract', 'Animate', 'Arrange', 'Assemble', 'Budget', 'Categorize', 'Code', 'Combine', 'Compile', 'Compose', 'Cope', 
'Correspond', 'Create', 'Cultivate', 'Debug', 'Depict', 'Design', 'Develop', 'Devise', 'Dictate', 'Enhance', 'Facilitate', 'Format', 'Formulate', 'Generate', 'Import', 'Improve', 'Incorporate', 'Integrate', 'Interface', 'Join', 'Lecture', 
'Model', 'Network', 'Organize', 'Overhaul', 'Plan', 'Portray', 'Program', 'Rearrange', 'Reconstruct', 'Reorganize', 'Revise', 'Specify']))

In [643]:
# using + operator to concat the generalised list of words to the PLO list
train_column = list(feature_names) + append_words

In [644]:
# CLO list of words
test_column = feature_names1
test_column

array(['ability', 'abstract', 'acceptable', 'accordance', 'achieve',
       'achieved', 'actions', 'activities', 'adopt', 'advanced', 'agreed',
       'algebra', 'algorithmic', 'algorithms', 'allocate', 'analyse',
       'analysis', 'applications', 'apply', 'approach', 'approaches',
       'appropriate', 'appropriately', 'architectural', 'architectures',
       'artifacts', 'aspects', 'assembly', 'assess', 'assumptions',
       'assurance', 'attributes', 'australia', 'automated',
       'availability', 'available', 'backend', 'balances', 'based',
       'basic', 'basis', 'beam', 'behaviour', 'behaviours', 'best', 'big',
       'board', 'boundaries', 'brief', 'business', 'c3', 'c4', 'c5', 'c6',
       'calculus', 'capability', 'carry', 'case', 'chemical', 'choose',
       'circuit', 'circuits', 'civil', 'classes', 'client', 'clients',
       'code', 'codes', 'collaboration', 'collection', 'combination',
       'commit', 'commitment', 'common', 'communicate', 'communicated',
       'communities', 'community', 'compare', 'competing', 'completion',
       'complex', 'complexities', 'complexity', 'component', 'components',
       'computational', 'computer', 'concept', 'concepts', 'conduct',
       'confidence', 'configuration', 'consequent', 'consideration',
       'considerations', 'consistent', 'constraints', 'constructing',
       'construction', 'constructs', 'contain', 'context', 'contract',
       'contrast', 'contribute', 'controlling', 'convey', 'correctness',
       'cost', 'costs', 'cultural', 'cycle', 'data', 'database', 'debug',
       'debuggers', 'decomposing', 'deconstruct', 'define', 'deliberate',
       'deliverables', 'demonstrate', 'demonstrations', 'deployment',
       'design', 'designing', 'designs', 'details', 'determine',
       'determining', 'develop', 'development', 'devise', 'diagrams',
       'differences', 'different', 'differential', 'discern', 'discuss',
       'diverse', 'document', 'documentation', 'domain', 'drawings',
       'drive', 'dynamics', 'effectively', 'efficiently', 'electrical',
       'electronic', 'elements', 'elicit', 'embodied', 'end', 'energy',
       'engaging', 'engineer', 'engineering', 'engineers', 'ensure',
       'ensuring', 'environmental', 'equations', 'established', 'ethical',
       'ethics', 'evaluate', 'evaluating', 'evaluation', 'execution',
       'experimentally', 'explain', 'external', 'faking', 'final',
       'finalised', 'flexible', 'follow', 'forces', 'form', 'forms',
       'frameworks', 'functional', 'fundamental', 'fundamentals', 'gears',
       'general', 'generics', 'given', 'goals', 'good', 'graphically',
       'hash', 'health', 'heaps', 'heath', 'high', 'human',
       'humanitarian', 'identify', 'impact', 'implement',
       'implementations', 'important', 'including', 'indigenous',
       'industry', 'inform', 'inheritance', 'inspection', 'integrated',
       'interconnection', 'internal', 'internet', 'investigate',
       'investigations', 'involving', 'issues', 'java', 'justify', 'key',
       'knowledge', 'language', 'law', 'laws', 'layers', 'lead', 'leader',
       'legal', 'level', 'levers', 'life', 'limit', 'limitations', 'line',
       'linear', 'lists', 'locate', 'logic', 'malaysia', 'manage',
       'management', 'managing', 'manner', 'materials', 'mathematical',
       'mathematics', 'measures', 'mechanical', 'mechanism',
       'mechatronics', 'medium', 'meet', 'meeting', 'meetings', 'meets',
       'member', 'members', 'met', 'methodologies', 'methodology', 'mips',
       'mitigate', 'mocking', 'model', 'models', 'moderately', 'modern',
       'modules', 'monitor', 'motivation', 'motivations', 'multi',
       'multicultural', 'natural', 'need', 'needs', 'network',
       'networking', 'networks', 'non', 'norms', 'notations', 'object',
       'occurring', 'optimal', 'optimise', 'options', 'oral', 'ordinary',
       'organisation', 'organize', 'organizing', 'oriented', 'outputs',
       'overall', 'paradigms', 'patterns', 'perform', 'performance',
       'personnel', 'perspective', 'pitches', 'plan', 'planning',
       'potential', 'practical', 'practice', 'practices', 'principles',
       'priority', 'problem', 'problems', 'process', 'processes',
       'processor', 'produce', 'professional', 'profilers', 'programming',
       'programs', 'progress', 'project', 'propose', 'proposed', 'prove',
       'provided', 'pulleys', 'python', 'quality', 'queries', 'queues',
       'r2000', 'range', 'reactions', 'recognize', 'reflect', 'related',
       'relational', 'relevant', 'renewable', 'representatives',
       'required', 'requirements', 'resource', 'resources', 'response',
       'responsibilities', 'review', 'risk', 'risks', 'roles', 'safety',
       'scenario', 'sciences', 'scope', 'select', 'self', 'shelf',
       'simple', 'simulator', 'site', 'size', 'sized', 'skills', 'small',
       'smart', 'societal', 'soft', 'software', 'solution', 'solutions',
       'solve', 'solving', 'sound', 'source', 'sources', 'space',
       'specific', 'specification', 'springs', 'stacks', 'staff',
       'stakeholders', 'standard', 'standards', 'state', 'statements',
       'steady', 'strategic', 'strategies', 'strategy', 'strength',
       'structural', 'structures', 'subject', 'successful', 'sufficient',
       'suitability', 'suitable', 'summarise', 'supervisors', 'support',
       'sustainability', 'sustainable', 'systematic', 'systematically',
       'systems', 'tables', 'taking', 'team', 'teamwork', 'technical',
       'techniques', 'technologies', 'terms', 'testing', 'theoretical',
       'theoretically', 'time', 'tools', 'translating', 'trees', 'triple',
       'truss', 'types', 'uml', 'underlying', 'understand',
       'understanding', 'unit', 'use', 'user', 'users', 'using',
       'utilising', 'validate', 'variable', 'variables', 'variety',
       'various', 'verbally', 'verify', 'visualisations', 'vocabulary',
       'wired', 'wireless', 'work', 'working', 'worst', 'write',
       'writing', 'written'], dtype=object)

In [645]:
# Intersection method for extracting common column names from the tables (both CLO AND PLO)
# comparing whether the CLO column name is present in the PLO column names or not
train_column = list(feature_names) + append_words # (PLO table ) (# using + operator to concat PLO words and list of generalized words)
test_column = list(feature_names1)   # (CLO table)

In [646]:
# This is the column names from both the tables (using intersection)
common_column = list(set(train_column).intersection(set(test_column)))
common_column

['complex',
 'manage',
 'using',
 'project',
 'ensure',
 'produce',
 'devise',
 'solve',
 'leader',
 'needs',
 'software',
 'diverse',
 'modern',
 'justify',
 'debug',
 'define',
 'solutions',
 'develop',
 'resources',
 'use',
 'sustainability',
 'safety',
 'fundamentals',
 'systems',
 'mathematics',
 'understand',
 'recognize',
 'natural',
 'life',
 'processes',
 'legal',
 'select',
 'community',
 'activities',
 'environmental',
 'impact',
 'meet',
 'support',
 'apply',
 'solution',
 'abstract',
 'ethics',
 'tools',
 'state',
 'problems',
 'data',
 'need',
 'investigations',
 'understanding',
 'context',
 'contrast',
 'demonstrate',
 'societal',
 'responsibilities',
 'document',
 'components',
 'work',
 'validate',
 'review',
 'evaluate',
 'norms',
 'limitations',
 'consequent',
 'commit',
 'sciences',
 'conduct',
 'effectively',
 'investigate',
 'discuss',
 'multi',
 'appropriate',
 'assess',
 'design',
 'issues',
 'verify',
 'write',
 'ethical',
 'health',
 'ability',
 'explain',
 'code',
 'relevant',
 'based',
 'analysis',
 'cultural',
 'including',
 'professional',
 'allocate',
 'management',
 'determine',
 'documentation',
 'network',
 'identify',
 'practice',
 'knowledge',
 'member',
 'communicate',
 'techniques',
 'organize',
 'compare',
 'plan',
 'principles',
 'engineering',
 'model',
 'process']

In [647]:
print(common_column)

['complex', 'manage', 'using', 'project', 'ensure', 'produce', 'devise', 'solve', 'leader', 'needs', 'software', 'diverse', 'modern', 'justify', 'debug', 'define', 'solutions', 'develop', 'resources', 'use', 'sustainability', 'safety', 'fundamentals', 'systems', 'mathematics', 'understand', 'recognize', 'natural', 'life', 'processes', 'legal', 'select', 'community', 'activities', 'environmental', 'impact', 'meet', 'support', 'apply', 'solution', 'abstract', 'ethics', 'tools', 'state', 'problems', 'data', 'need', 'investigations', 'understanding', 'context', 'contrast', 'demonstrate', 'societal', 'responsibilities', 'document', 'components', 'work', 'validate', 'review', 'evaluate', 'norms', 'limitations', 'consequent', 'commit', 'sciences', 'conduct', 'effectively', 'investigate', 'discuss', 'multi', 'appropriate', 'assess', 'design', 'issues', 'verify', 'write', 'ethical', 'health', 'ability', 'explain', 'code', 'relevant', 'based', 'analysis', 'cultural', 'including', 'professional', 'allocate', 'management', 'determine', 'documentation', 'network', 'identify', 'practice', 'knowledge', 'member', 'communicate', 'techniques', 'organize', 'compare', 'plan', 'principles', 'engineering', 'model', 'process']

In [648]:
len(common_column)

105

In [649]:
# Filter the common column values from the CLO table
U3 = U2.filter(list(common_column), axis=1)

In [650]:
U3.head()

,complex,manage,using,project,ensure,produce,devise,solve,leader,needs,...,member,communicate,techniques,organize,compare,plan,principles,engineering,model,process
0,,,,,,,,,,,,,,,,,,,,,
LO1-MA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
LO2-MA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
LO3-MA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
LO4-MA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
LO5-MA,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [651]:
# extracting first row from PLO table and make a dataframe
Cs = []
for x in range(len(df)):
    Cs.append(U1.loc[[PO_LABEL+str(x+1)]])
# U1

In [652]:
# Concatenating these extracted each PLOs with 'n' number of CLOs
Dds = []
for x in range(len(df)):
    Dds.append(pd.concat([Cs[x],U3], sort=True))

In [653]:
# Filling the nan values of the concatenated dataframes
Ds = []
for x in range(len(df)):
    Ds.append(Dds[x].fillna(0))

## Calculate Cosine similarity

In [654]:
# Calculate cosine similarity for concatenated dataframes and create a new dataframe
for x in range(len(df)):
    Dds[x] = pd.DataFrame(cosine_similarity(Ds[x], dense_output=True))
Ds

[        ability  able  abstract  activities  allocate  analysis  analyze  \
 0
 PO1           0   0.0       0.0           0       0.0         0      0.0
 LO1-MA        0   0.0       0.0           0       0.0         0      0.0
 LO2-MA        0   0.0       0.0           0       0.0         0      0.0
 LO3-MA        0   0.0       0.0           0       0.0         0      0.0
 LO4-MA        0   0.0       0.0           0       0.0         0      0.0
 ...         ...   ...       ...         ...       ...       ...      ...
 LO2-MA        0   0.0       0.0           0       0.0         0      0.0
 LO3-MA        0   0.0       0.0           0       0.0         0      0.0
 LO4-MA        0   0.0       0.0           0       0.0         0      0.0
 LO5-MA        0   0.0       0.0           0       0.0         0      0.0
 LO6-MA        0   0.0       0.0           1       0.0         0      0.0

         apply  appropriate  assess  ...  tools  understand  understanding  \
 0                                   ...
 PO1         1            0       0  ...      0           0              0
 LO1-MA      0            0       0  ...      0           0              0
 LO2-MA      0            0       0  ...      0           0              0
 LO3-MA      0            0       0  ...      0           0              0
 LO4-MA      0            0       0  ...      0           0              0
 ...       ...          ...     ...  ...    ...         ...            ...
 LO2-MA      1            0       0  ...      1           0              0
 LO3-MA      0            0       1  ...      0           0              0
 LO4-MA      0            0       0  ...      0           1              0
 LO5-MA      1            0       0  ...      0           0              0
 LO6-MA      0            0       0  ...      0           0              0

         use  using  valid  validate  verify  work  write
 0
 PO1     0.0      0    0.0       0.0     0.0     0      0
 LO1-MA  0.0      0    0.0       0.0     0.0     0      0
 LO2-MA  0.0      0    0.0       0.0     0.0     0      0
 LO3-MA  0.0      0    0.0       0.0     0.0     0      0
 LO4-MA  0.0      0    0.0       0.0     0.0     0      0
 ...     ...    ...    ...       ...     ...   ...    ...
 LO2-MA  0.0      0    0.0       0.0     0.0     0      0
 LO3-MA  0.0      0    0.0       0.0     0.0     0      0
 LO4-MA  0.0      0    0.0       0.0     0.0     1      0
 LO5-MA  0.0      0    0.0       0.0     0.0     0      0
 LO6-MA  0.0      0    0.0       0.0     0.0     0      0

 [88 rows x 158 columns],
         ability  able  abstract  activities  allocate  analysis  analyze  \
 0
 PO2           0   0.0       0.0           0       0.0         0      1.0
 LO1-MA        0   0.0       0.0           0       0.0         0      0.0
 LO2-MA        0   0.0       0.0           0       0.0         0      0.0
 LO3-MA        0   0.0       0.0           0       0.0         0      0.0
 LO4-MA        0   0.0       0.0           0       0.0         0      0.0
 ...         ...   ...       ...         ...       ...       ...      ...
 LO2-MA        0   0.0       0.0           0       0.0         0      0.0
 LO3-MA        0   0.0       0.0           0       0.0         0      0.0
 LO4-MA        0   0.0       0.0           0       0.0         0      0.0
 LO5-MA        0   0.0       0.0           0       0.0         0      0.0
 LO6-MA        0   0.0       0.0           1       0.0         0      0.0

         apply  appropriate  assess  ...  tools  understand  understanding  \
 0                                   ...
 PO2         0            0       0  ...      0           0              0
 LO1-MA      0            0       0  ...      0           0              0
 LO2-MA      0            0       0  ...      0           0              0
 LO3-MA      0            0       0  ...      0           0              0
 LO4-MA      0            0       0  ...      0           0              0
 ...       ...          ...     ...  ...    ...         ...            ...
 LO2-MA      1            0       0  ...      1           0              0
 LO3-MA      0            0       1  ...      0           0              0
 LO4-MA      0            0       0  ...      0           1              0
 LO5-MA      1            0       0  ...      0           0              0
 LO6-MA      0            0       0  ...      0           0              0

         use  using  valid  validate  verify  work  write
 0
 PO2     0.0      1    0.0       0.0     0.0     0      0
 LO1-MA  0.0      0    0.0       0.0     0.0     0      0
 LO2-MA  0.0      0    0.0       0.0     0.0     0      0
 LO3-MA  0.0      0    0.0       0.0     0.0     0      0
 LO4-MA  0.0      0    0.0       0.0     0.0     0      0
 ...     ...    ...    ...       ...     ...   ...    ...
 LO2-MA  0.0      0    0.0       0.0     0.0     0      0
 LO3-MA  0.0      0    0.0       0.0     0.0     0      0
 LO4-MA  0.0      0    0.0       0.0     0.0     1      0
 LO5-MA  0.0      0    0.0       0.0     0.0     0      0
 LO6-MA  0.0      0    0.0       0.0     0.0     0      0

 [88 rows x 158 columns],
         ability  able  abstract  activities  allocate  analysis  analyze  \
 0
 PO3           0   0.0       0.0           0       0.0         0      0.0
 LO1-MA        0   0.0       0.0           0       0.0         0      0.0
 LO2-MA        0   0.0       0.0           0       0.0         0      0.0
 LO3-MA        0   0.0       0.0           0       0.0         0      0.0
 LO4-MA        0   0.0       0.0           0       0.0         0      0.0
 ...         ...   ...       ...         ...       ...       ...      ...
 LO2-MA        0   0.0       0.0           0       0.0         0      0.0
 LO3-MA        0   0.0       0.0           0       0.0         0      0.0
 LO4-MA        0   0.0       0.0           0       0.0         0      0.0
 LO5-MA        0   0.0       0.0           0       0.0         0      0.0
 LO6-MA        0   0.0       0.0           1       0.0         0      0.0

         apply  appropriate  assess  ...  tools  understand  understanding  \
 0                                   ...
 PO3         0            0       0  ...      0           0              0
 LO1-MA      0            0       0  ...      0           0              0
 LO2-MA      0            0       0  ...      0           0              0
 LO3-MA      0            0       0  ...      0           0              0
 LO4-MA      0            0       0  ...      0           0              0
 ...       ...          ...     ...  ...    ...         ...            ...
 LO2-MA      1            0       0  ...      1           0              0
 LO3-MA      0            0       1  ...      0           0              0
 LO4-MA      0            0       0  ...      0           1              0
 LO5-MA      1            0       0  ...      0           0              0
 LO6-MA      0            0       0  ...      0           0              0

         use  using  valid  validate  verify  work  write
 0
 PO3     0.0      0    0.0       0.0     0.0     0      0
 LO1-MA  0.0      0    0.0       0.0     0.0     0      0
 LO2-MA  0.0      0    0.0       0.0     0.0     0      0
 LO3-MA  0.0      0    0.0       0.0     0.0     0      0
 LO4-MA  0.0      0    0.0       0.0     0.0     0      0
 ...     ...    ...    ...       ...     ...   ...    ...
 LO2-MA  0.0      0    0.0       0.0     0.0     0      0
 LO3-MA  0.0      0    0.0       0.0     0.0     0      0
 LO4-MA  0.0      0    0.0       0.0     0.0     1      0
 LO5-MA  0.0      0    0.0       0.0     0.0     0      0
 LO6-MA  0.0      0    0.0       0.0     0.0     0      0

 [88 rows x 158 columns],
         ability  able  abstract  activities  allocate  analysis  analyze  \
 0
 PO4           0   0.0       0.0           0       0.0         1      0.0
 LO1-MA        0   0.0       0.0           0       0.0         0      0.0
 LO2-MA        0   0.0       0.0           0       0.0         0      0.0
 LO3-MA        0   0.0       0.0           0       0.0         0      0.0
 LO4-MA        0   0.0       0.0           0       0.0         0      0.0
 ...         ...   ...       ...         ...       ...       ...      ...
 LO2-MA        0   0.0       0.0           0       0.0         0      0.0
 LO3-MA        0   0.0       0.0           0       0.0         0      0.0
 LO4-MA        0   0.0       0.0           0       0.0         0      0.0
 LO5-MA        0   0.0       0.0           0       0.0         0      0.0
 LO6-MA        0   0.0       0.0           1       0.0         0      0.0

         apply  appropriate  assess  ...  tools  understand  understanding  \
 0                                   ...
 PO4         0            0       0  ...      0           0              0
 LO1-MA      0            0       0  ...      0           0              0
 LO2-MA      0            0       0  ...      0           0              0
 LO3-MA      0            0       0  ...      0           0              0
 LO4-MA      0            0       0  ...      0           0              0
 ...       ...          ...     ...  ...    ...         ...            ...
 LO2-MA      1            0       0  ...      1           0              0
 LO3-MA      0            0       1  ...      0           0              0
 LO4-MA      0            0       0  ...      0           1              0
 LO5-MA      1            0       0  ...      0           0              0
 LO6-MA      0            0       0  ...      0           0              0

         use  using  valid  validate  verify  work  write
 0
 PO4     0.0      1    1.0       0.0     0.0     0      0
 LO1-MA  0.0      0    0.0       0.0     0.0     0      0
 LO2-MA  0.0      0    0.0       0.0     0.0     0      0
 LO3-MA  0.0      0    0.0       0.0     0.0     0      0
 LO4-MA  0.0      0    0.0       0.0     0.0     0      0
 ...     ...    ...    ...       ...     ...   ...    ...
 LO2-MA  0.0      0    0.0       0.0     0.0     0      0
 LO3-MA  0.0      0    0.0       0.0     0.0     0      0
 LO4-MA  0.0      0    0.0       0.0     0.0     1      0
 LO5-MA  0.0      0    0.0       0.0     0.0     0      0
 LO6-MA  0.0      0    0.0       0.0     0.0     0      0

 [88 rows x 158 columns],
         ability  able  abstract  activities  allocate  analysis  analyze  \
 0
 PO5           0   0.0       0.0           0       0.0         0      0.0
 LO1-MA        0   0.0       0.0           0       0.0         0      0.0
 LO2-MA        0   0.0       0.0           0       0.0         0      0.0
 LO3-MA        0   0.0       0.0           0       0.0         0      0.0
 LO4-MA        0   0.0       0.0           0       0.0         0      0.0
 ...         ...   ...       ...         ...       ...       ...      ...
 LO2-MA        0   0.0       0.0           0       0.0         0      0.0
 LO3-MA        0   0.0       0.0           0       0.0         0      0.0
 LO4-MA        0   0.0       0.0           0       0.0         0      0.0
 LO5-MA        0   0.0       0.0           0       0.0         0      0.0
 LO6-MA        0   0.0       0.0           1       0.0         0      0.0

         apply  appropriate  assess  ...  tools  understand  understanding  \
 0                                   ...
 PO5         1            1       0  ...      1           0              1
 LO1-MA      0            0       0  ...      0           0              0
 LO2-MA      0            0       0  ...      0           0              0
 LO3-MA      0            0       0  ...      0           0              0
 LO4-MA      0            0       0  ...      0           0              0
 ...       ...          ...     ...  ...    ...         ...            ...
 LO2-MA      1            0       0  ...      1           0              0
 LO3-MA      0            0       1  ...      0           0              0
 LO4-MA      0            0       0  ...      0           1              0
 LO5-MA      1            0       0  ...      0           0              0
 LO6-MA      0            0       0  ...      0           0              0

         use  using  valid  validate  verify  work  write
 0
 PO5     0.0      0    0.0       0.0     0.0     0      0
 LO1-MA  0.0      0    0.0       0.0     0.0     0      0
 LO2-MA  0.0      0    0.0       0.0     0.0     0      0
 LO3-MA  0.0      0    0.0       0.0     0.0     0      0
 LO4-MA  0.0      0    0.0       0.0     0.0     0      0
 ...     ...    ...    ...       ...     ...   ...    ...
 LO2-MA  0.0      0    0.0       0.0     0.0     0      0
 LO3-MA  0.0      0    0.0       0.0     0.0     0      0
 LO4-MA  0.0      0    0.0       0.0     0.0     1      0
 LO5-MA  0.0      0    0.0       0.0     0.0     0      0
 LO6-MA  0.0      0    0.0       0.0     0.0     0      0

 [88 rows x 158 columns],
         ability  able  abstract  activities  allocate  analysis  analyze  \
 0
 PO6           0   0.0       0.0           0       0.0         0      0.0
 LO1-MA        0   0.0       0.0           0       0.0         0      0.0
 LO2-MA        0   0.0       0.0           0       0.0         0      0.0
 LO3-MA        0   0.0       0.0           0       0.0         0      0.0
 LO4-MA        0   0.0       0.0           0       0.0         0      0.0
 ...         ...   ...       ...         ...       ...       ...      ...
 LO2-MA        0   0.0       0.0           0       0.0         0      0.0
 LO3-MA        0   0.0       0.0           0       0.0         0      0.0
 LO4-MA        0   0.0       0.0           0       0.0         0      0.0
 LO5-MA        0   0.0       0.0           0       0.0         0      0.0
 LO6-MA        0   0.0       0.0           1       0.0         0      0.0

         apply  appropriate  assess  ...  tools  understand  understanding  \
 0                                   ...
 PO6         1            0       1  ...      0           0              0
 LO1-MA      0            0       0  ...      0           0              0
 LO2-MA      0            0       0  ...      0           0              0
 LO3-MA      0            0       0  ...      0           0              0
 LO4-MA      0            0       0  ...      0           0              0
 ...       ...          ...     ...  ...    ...         ...            ...
 LO2-MA      1            0       0  ...      1           0              0
 LO3-MA      0            0       1  ...      0           0              0
 LO4-MA      0            0       0  ...      0           1              0
 LO5-MA      1            0       0  ...      0           0              0
 LO6-MA      0            0       0  ...      0           0              0

         use  using  valid  validate  verify  work  write
 0
 PO6     0.0      0    0.0       0.0     0.0     0      0
 LO1-MA  0.0      0    0.0       0.0     0.0     0      0
 LO2-MA  0.0      0    0.0       0.0     0.0     0      0
 LO3-MA  0.0      0    0.0       0.0     0.0     0      0
 LO4-MA  0.0      0    0.0       0.0     0.0     0      0
 ...     ...    ...    ...       ...     ...   ...    ...
 LO2-MA  0.0      0    0.0       0.0     0.0     0      0
 LO3-MA  0.0      0    0.0       0.0     0.0     0      0
 LO4-MA  0.0      0    0.0       0.0     0.0     1      0
 LO5-MA  0.0      0    0.0       0.0     0.0     0      0
 LO6-MA  0.0      0    0.0       0.0     0.0     0      0

 [88 rows x 158 columns],
         ability  able  abstract  activities  allocate  analysis  analyze  \
 0
 PO7           0   0.0       0.0           0       0.0         0      0.0
 LO1-MA        0   0.0       0.0           0       0.0         0      0.0
 LO2-MA        0   0.0       0.0           0       0.0         0      0.0
 LO3-MA        0   0.0       0.0           0       0.0         0      0.0
 LO4-MA        0   0.0       0.0           0       0.0         0      0.0
 ...         ...   ...       ...         ...       ...       ...      ...
 LO2-MA        0   0.0       0.0           0       0.0         0      0.0
 LO3-MA        0   0.0       0.0           0       0.0         0      0.0
 LO4-MA        0   0.0       0.0           0       0.0         0      0.0
 LO5-MA        0   0.0       0.0           0       0.0         0      0.0
 LO6-MA        0   0.0       0.0           1       0.0         0      0.0

         apply  appropriate  assess  ...  tools  understand  understanding  \
 0                                   ...
 PO7         0            0       0  ...      0           1              0
 LO1-MA      0            0       0  ...      0           0              0
 LO2-MA      0            0       0  ...      0           0              0
 LO3-MA      0            0       0  ...      0           0              0
 LO4-MA      0            0       0  ...      0           0              0
 ...       ...          ...     ...  ...    ...         ...            ...
 LO2-MA      1            0       0  ...      1           0              0
 LO3-MA      0            0       1  ...      0           0              0
 LO4-MA      0            0       0  ...      0           1              0
 LO5-MA      1            0       0  ...      0           0              0
 LO6-MA      0            0       0  ...      0           0              0

         use  using  valid  validate  verify  work  write
 0
 PO7     0.0      0    0.0       0.0     0.0     1      0
 LO1-MA  0.0      0    0.0       0.0     0.0     0      0
 LO2-MA  0.0      0    0.0       0.0     0.0     0      0
 LO3-MA  0.0      0    0.0       0.0     0.0     0      0
 LO4-MA  0.0      0    0.0       0.0     0.0     0      0
 ...     ...    ...    ...       ...     ...   ...    ...
 LO2-MA  0.0      0    0.0       0.0     0.0     0      0
 LO3-MA  0.0      0    0.0       0.0     0.0     0      0
 LO4-MA  0.0      0    0.0       0.0     0.0     1      0
 LO5-MA  0.0      0    0.0       0.0     0.0     0      0
 LO6-MA  0.0      0    0.0       0.0     0.0     0      0

 [88 rows x 158 columns],
         ability  able  abstract  activities  allocate  analysis  analyze  \
 0
 PO8           0   0.0       0.0           0       0.0         0      0.0
 LO1-MA        0   0.0       0.0           0       0.0         0      0.0
 LO2-MA        0   0.0       0.0           0       0.0         0      0.0
 LO3-MA        0   0.0       0.0           0       0.0         0      0.0
 LO4-MA        0   0.0       0.0           0       0.0         0      0.0
 ...         ...   ...       ...         ...       ...       ...      ...
 LO2-MA        0   0.0       0.0           0       0.0         0      0.0
 LO3-MA        0   0.0       0.0           0       0.0         0      0.0
 LO4-MA        0   0.0       0.0           0       0.0         0      0.0
 LO5-MA        0   0.0       0.0           0       0.0         0      0.0
 LO6-MA        0   0.0       0.0           1       0.0         0      0.0

         apply  appropriate  assess  ...  tools  understand  understanding  \
 0                                   ...
 PO8         1            0       0  ...      0           0              0
 LO1-MA      0            0       0  ...      0           0              0
 LO2-MA      0            0       0  ...      0           0              0
 LO3-MA      0            0       0  ...      0           0              0
 LO4-MA      0            0       0  ...      0           0              0
 ...       ...          ...     ...  ...    ...         ...            ...
 LO2-MA      1            0       0  ...      1           0              0
 LO3-MA      0            0       1  ...      0           0              0
 LO4-MA      0            0       0  ...      0           1              0
 LO5-MA      1            0       0  ...      0           0              0
 LO6-MA      0            0       0  ...      0           0              0

         use  using  valid  validate  verify  work  write
 0
 PO8     0.0      0    0.0       0.0     0.0     0      0
 LO1-MA  0.0      0    0.0       0.0     0.0     0      0

In [655]:
# Extract the '0'th column because it has the CLO-PLO  cosine similarity values. We are neglecting the remaining ones.
# Renaming the '0'th column name to 'Pn' ['P1, P2, P3, P4, ... 'Pn']
for x in range(len(df)):
    Dds[x].rename(columns = {0 :PO_LABEL+str(x+1)}, inplace = True)

Dds

[         PO1         1         2         3         4    5    6         7  \
 0   1.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.372678
 1   0.000000  1.000000  0.577350  0.000000  0.707107  0.0  0.0  0.000000
 2   0.000000  0.577350  1.000000  0.666667  0.408248  0.0  0.0  0.000000
 3   0.000000  0.000000  0.666667  1.000000  0.000000  0.0  0.0  0.000000
 4   0.000000  0.707107  0.408248  0.000000  1.000000  0.0  0.0  0.000000
 ..       ...       ...       ...       ...       ...  ...  ...       ...
 83  0.070711  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.000000
 84  0.212132  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.105409
 85  0.461880  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.258199
 86  0.269680  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.100504
 87  0.521749  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.222222

            8         9  ...        78        79        80        81        82  \
 0   0.091287  0.169031  ...  0.129099  0.000000  0.091287  0.079057  0.057735
 1   0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.258199
 2   0.000000  0.218218  ...  0.000000  0.000000  0.000000  0.204124  0.149071
 3   0.000000  0.218218  ...  0.000000  0.000000  0.000000  0.204124  0.000000
 4   0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.182574
 ..       ...       ...  ...       ...       ...       ...       ...       ...
 83  0.258199  0.119523  ...  0.182574  0.316228  0.129099  0.111803  0.408248
 84  0.000000  0.119523  ...  0.182574  0.000000  0.000000  0.223607  0.000000
 85  0.105409  0.292770  ...  0.149071  0.129099  0.000000  0.091287  0.000000
 86  0.000000  0.000000  ...  0.348155  0.000000  0.000000  0.213201  0.077850
 87  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.000000

           83        84        85        86        87
 0   0.070711  0.212132  0.461880  0.269680  0.521749
 1   0.000000  0.000000  0.000000  0.000000  0.000000
 2   0.000000  0.000000  0.000000  0.000000  0.000000
 3   0.000000  0.000000  0.000000  0.000000  0.000000
 4   0.000000  0.000000  0.000000  0.000000  0.000000
 ..       ...       ...       ...       ...       ...
 83  1.000000  0.100000  0.081650  0.095346  0.000000
 84  0.100000  1.000000  0.326599  0.381385  0.210819
 85  0.081650  0.326599  1.000000  0.233550  0.344265
 86  0.095346  0.381385  0.233550  1.000000  0.201008
 87  0.000000  0.210819  0.344265  0.201008  1.000000

 [88 rows x 88 columns],
          PO2         1         2         3         4    5    6         7  \
 0   1.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.408248
 1   0.000000  1.000000  0.577350  0.000000  0.707107  0.0  0.0  0.000000
 2   0.000000  0.577350  1.000000  0.666667  0.408248  0.0  0.0  0.000000
 3   0.000000  0.000000  0.666667  1.000000  0.000000  0.0  0.0  0.000000
 4   0.000000  0.707107  0.408248  0.000000  1.000000  0.0  0.0  0.000000
 ..       ...       ...       ...       ...       ...  ...  ...       ...
 83  0.064550  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.000000
 84  0.129099  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.105409
 85  0.263523  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.258199
 86  0.184637  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.100504
 87  0.340207  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.222222

            8         9  ...        78        79        80        81        82  \
 0   0.083333  0.000000  ...  0.000000  0.102062  0.083333  0.144338  0.052705
 1   0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.258199
 2   0.000000  0.218218  ...  0.000000  0.000000  0.000000  0.204124  0.149071
 3   0.000000  0.218218  ...  0.000000  0.000000  0.000000  0.204124  0.000000
 4   0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.182574
 ..       ...       ...  ...       ...       ...       ...       ...       ...
 83  0.258199  0.119523  ...  0.182574  0.316228  0.129099  0.111803  0.408248
 84  0.000000  0.119523  ...  0.182574  0.000000  0.000000  0.223607  0.000000
 85  0.105409  0.292770  ...  0.149071  0.129099  0.000000  0.091287  0.000000
 86  0.000000  0.000000  ...  0.348155  0.000000  0.000000  0.213201  0.077850
 87  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.000000

           83        84        85        86        87
 0   0.064550  0.129099  0.263523  0.184637  0.340207
 1   0.000000  0.000000  0.000000  0.000000  0.000000
 2   0.000000  0.000000  0.000000  0.000000  0.000000
 3   0.000000  0.000000  0.000000  0.000000  0.000000
 4   0.000000  0.000000  0.000000  0.000000  0.000000
 ..       ...       ...       ...       ...       ...
 83  1.000000  0.100000  0.081650  0.095346  0.000000
 84  0.100000  1.000000  0.326599  0.381385  0.210819
 85  0.081650  0.326599  1.000000  0.233550  0.344265
 86  0.095346  0.381385  0.233550  1.000000  0.201008
 87  0.000000  0.210819  0.344265  0.201008  1.000000

 [88 rows x 88 columns],
          PO3         1         2         3         4    5    6         7  \
 0   1.000000  0.000000  0.298142  0.447214  0.000000  0.0  0.0  0.344265
 1   0.000000  1.000000  0.577350  0.000000  0.707107  0.0  0.0  0.000000
 2   0.298142  0.577350  1.000000  0.666667  0.408248  0.0  0.0  0.000000
 3   0.447214  0.000000  0.666667  1.000000  0.000000  0.0  0.0  0.000000
 4   0.000000  0.707107  0.408248  0.000000  1.000000  0.0  0.0  0.000000
 ..       ...       ...       ...       ...       ...  ...  ...       ...
 83  0.081650  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.000000
 84  0.081650  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.105409
 85  0.200000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.258199
 86  0.077850  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.100504
 87  0.258199  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.222222

            8         9  ...        78        79        80        81        82  \
 0   0.210819  0.195180  ...  0.000000  0.000000  0.105409  0.091287  0.000000
 1   0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.258199
 2   0.000000  0.218218  ...  0.000000  0.000000  0.000000  0.204124  0.149071
 3   0.000000  0.218218  ...  0.000000  0.000000  0.000000  0.204124  0.000000
 4   0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.182574
 ..       ...       ...  ...       ...       ...       ...       ...       ...
 83  0.258199  0.119523  ...  0.182574  0.316228  0.129099  0.111803  0.408248
 84  0.000000  0.119523  ...  0.182574  0.000000  0.000000  0.223607  0.000000
 85  0.105409  0.292770  ...  0.149071  0.129099  0.000000  0.091287  0.000000
 86  0.000000  0.000000  ...  0.348155  0.000000  0.000000  0.213201  0.077850
 87  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.000000

           83        84        85        86        87
 0   0.081650  0.081650  0.200000  0.077850  0.258199
 1   0.000000  0.000000  0.000000  0.000000  0.000000
 2   0.000000  0.000000  0.000000  0.000000  0.000000
 3   0.000000  0.000000  0.000000  0.000000  0.000000
 4   0.000000  0.000000  0.000000  0.000000  0.000000
 ..       ...       ...       ...       ...       ...
 83  1.000000  0.100000  0.081650  0.095346  0.000000
 84  0.100000  1.000000  0.326599  0.381385  0.210819
 85  0.081650  0.326599  1.000000  0.233550  0.344265
 86  0.095346  0.381385  0.233550  1.000000  0.201008
 87  0.000000  0.210819  0.344265  0.201008  1.000000

 [88 rows x 88 columns],
          PO4         1         2         3         4    5    6         7  \
 0   1.000000  0.000000  0.230940  0.230940  0.000000  0.0  0.0  0.333333
 1   0.000000  1.000000  0.577350  0.000000  0.707107  0.0  0.0  0.000000
 2   0.230940  0.577350  1.000000  0.666667  0.408248  0.0  0.0  0.000000
 3   0.230940  0.000000  0.666667  1.000000  0.000000  0.0  0.0  0.000000
 4   0.000000  0.707107  0.408248  0.000000  1.000000  0.0  0.0  0.000000
 ..       ...       ...       ...       ...       ...  ...  ...       ...
 83  0.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.000000
 84  0.063246  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.105409
 85  0.154919  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.258199
 86  0.060302  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.100504
 87  0.200000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.222222

            8         9  ...        78        79        80        81        82  \
 0   0.163299  0.151186  ...  0.000000  0.000000  0.081650  0.141421  0.103280
 1   0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.258199
 2   0.000000  0.218218  ...  0.000000  0.000000  0.000000  0.204124  0.149071
 3   0.000000  0.218218  ...  0.000000  0.000000  0.000000  0.204124  0.000000
 4   0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.182574
 ..       ...       ...  ...       ...       ...       ...       ...       ...
 83  0.258199  0.119523  ...  0.182574  0.316228  0.129099  0.111803  0.408248
 84  0.000000  0.119523  ...  0.182574  0.000000  0.000000  0.223607  0.000000
 85  0.105409  0.292770  ...  0.149071  0.129099  0.000000  0.091287  0.000000
 86  0.000000  0.000000  ...  0.348155  0.000000  0.000000  0.213201  0.077850
 87  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.000000

           83        84        85        86        87
 0   0.000000  0.063246  0.154919  0.060302  0.200000
 1   0.000000  0.000000  0.000000  0.000000  0.000000
 2   0.000000  0.000000  0.000000  0.000000  0.000000
 3   0.000000  0.000000  0.000000  0.000000  0.000000
 4   0.000000  0.000000  0.000000  0.000000  0.000000
 ..       ...       ...       ...       ...       ...
 83  1.000000  0.100000  0.081650  0.095346  0.000000
 84  0.100000  1.000000  0.326599  0.381385  0.210819
 85  0.081650  0.326599  1.000000  0.233550  0.344265
 86  0.095346  0.381385  0.233550  1.000000  0.201008
 87  0.000000  0.210819  0.344265  0.201008  1.000000

 [88 rows x 88 columns],
          PO5         1         2         3         4    5    6         7  \
 0   1.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.298142
 1   0.000000  1.000000  0.577350  0.000000  0.707107  0.0  0.0  0.000000
 2   0.000000  0.577350  1.000000  0.666667  0.408248  0.0  0.0  0.000000
 3   0.000000  0.000000  0.666667  1.000000  0.000000  0.0  0.0  0.000000
 4   0.000000  0.707107  0.408248  0.000000  1.000000  0.0  0.0  0.000000
 ..       ...       ...       ...       ...       ...  ...  ...       ...
 83  0.212132  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.000000
 84  0.141421  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.105409
 85  0.288675  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.258199
 86  0.202260  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.100504
 87  0.372678  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.222222

            8         9  ...        78        79        80        81        82  \
 0   0.273861  0.000000  ...  0.129099  0.000000  0.182574  0.158114  0.288675
 1   0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.258199
 2   0.000000  0.218218  ...  0.000000  0.000000  0.000000  0.204124  0.149071
 3   0.000000  0.218218  ...  0.000000  0.000000  0.000000  0.204124  0.000000
 4   0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.182574
 ..       ...       ...  ...       ...       ...       ...       ...       ...
 83  0.258199  0.119523  ...  0.182574  0.316228  0.129099  0.111803  0.408248
 84  0.000000  0.119523  ...  0.182574  0.000000  0.000000  0.223607  0.000000
 85  0.105409  0.292770  ...  0.149071  0.129099  0.000000  0.091287  0.000000
 86  0.000000  0.000000  ...  0.348155  0.000000  0.000000  0.213201  0.077850
 87  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.000000

           83        84        85        86        87
 0   0.212132  0.141421  0.288675  0.202260  0.372678
 1   0.000000  0.000000  0.000000  0.000000  0.000000
 2   0.000000  0.000000  0.000000  0.000000  0.000000
 3   0.000000  0.000000  0.000000  0.000000  0.000000
 4   0.000000  0.000000  0.000000  0.000000  0.000000
 ..       ...       ...       ...       ...       ...
 83  1.000000  0.100000  0.081650  0.095346  0.000000
 84  0.100000  1.000000  0.326599  0.381385  0.210819
 85  0.081650  0.326599  1.000000  0.233550  0.344265
 86  0.095346  0.381385  0.233550  1.000000  0.201008
 87  0.000000  0.210819  0.344265  0.201008  1.000000

 [88 rows x 88 columns],
          PO6         1         2         3         4    5    6         7  \
 0   1.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.266667
 1   0.000000  1.000000  0.577350  0.000000  0.707107  0.0  0.0  0.000000
 2   0.000000  0.577350  1.000000  0.666667  0.408248  0.0  0.0  0.000000
 3   0.000000  0.000000  0.666667  1.000000  0.000000  0.0  0.0  0.000000
 4   0.000000  0.707107  0.408248  0.000000  1.000000  0.0  0.0  0.000000
 ..       ...       ...       ...       ...       ...  ...  ...       ...
 83  0.063246  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.000000
 84  0.569210  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.105409
 85  0.309839  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.258199
 86  0.361814  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.100504
 87  0.333333  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.222222

            8         9  ...        78        79        80        81        82  \
 0   0.081650  0.000000  ...  0.230940  0.000000  0.081650  0.282843  0.051640
 1   0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.258199
 2   0.000000  0.218218  ...  0.000000  0.000000  0.000000  0.204124  0.149071
 3   0.000000  0.218218  ...  0.000000  0.000000  0.000000  0.204124  0.000000
 4   0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.182574
 ..       ...       ...  ...       ...       ...       ...       ...       ...
 83  0.258199  0.119523  ...  0.182574  0.316228  0.129099  0.111803  0.408248
 84  0.000000  0.119523  ...  0.182574  0.000000  0.000000  0.223607  0.000000
 85  0.105409  0.292770  ...  0.149071  0.129099  0.000000  0.091287  0.000000
 86  0.000000  0.000000  ...  0.348155  0.000000  0.000000  0.213201  0.077850
 87  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.000000

           83        84        85        86        87
 0   0.063246  0.569210  0.309839  0.361814  0.333333
 1   0.000000  0.000000  0.000000  0.000000  0.000000
 2   0.000000  0.000000  0.000000  0.000000  0.000000
 3   0.000000  0.000000  0.000000  0.000000  0.000000
 4   0.000000  0.000000  0.000000  0.000000  0.000000
 ..       ...       ...       ...       ...       ...
 83  1.000000  0.100000  0.081650  0.095346  0.000000
 84  0.100000  1.000000  0.326599  0.381385  0.210819
 85  0.081650  0.326599  1.000000  0.233550  0.344265
 86  0.095346  0.381385  0.233550  1.000000  0.201008
 87  0.000000  0.210819  0.344265  0.201008  1.000000

 [88 rows x 88 columns],
          PO7         1         2         3         4    5    6         7  \
 0   1.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.333333
 1   0.000000  1.000000  0.577350  0.000000  0.707107  0.0  0.0  0.000000
 2   0.000000  0.577350  1.000000  0.666667  0.408248  0.0  0.0  0.000000
 3   0.000000  0.000000  0.666667  1.000000  0.000000  0.0  0.0  0.000000
 4   0.000000  0.707107  0.408248  0.000000  1.000000  0.0  0.0  0.000000
 ..       ...       ...       ...       ...       ...  ...  ...       ...
 83  0.079057  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.000000
 84  0.316228  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.105409
 85  0.839146  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.258199
 86  0.226134  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.100504
 87  0.416667  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.222222

            8         9  ...        78        79        80        81        82  \
 0   0.102062  0.283473  ...  0.144338  0.000000  0.102062  0.176777  0.000000
 1   0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.258199
 2   0.000000  0.218218  ...  0.000000  0.000000  0.000000  0.204124  0.149071
 3   0.000000  0.218218  ...  0.000000  0.000000  0.000000  0.204124  0.000000
 4   0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.182574
 ..       ...       ...  ...       ...       ...       ...       ...       ...
 83  0.258199  0.119523  ...  0.182574  0.316228  0.129099  0.111803  0.408248
 84  0.000000  0.119523  ...  0.182574  0.000000  0.000000  0.223607  0.000000
 85  0.105409  0.292770  ...  0.149071  0.129099  0.000000  0.091287  0.000000
 86  0.000000  0.000000  ...  0.348155  0.000000  0.000000  0.213201  0.077850
 87  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.000000

           83        84        85        86        87
 0   0.079057  0.316228  0.839146  0.226134  0.416667
 1   0.000000  0.000000  0.000000  0.000000  0.000000
 2   0.000000  0.000000  0.000000  0.000000  0.000000
 3   0.000000  0.000000  0.000000  0.000000  0.000000
 4   0.000000  0.000000  0.000000  0.000000  0.000000
 ..       ...       ...       ...       ...       ...
 83  1.000000  0.100000  0.081650  0.095346  0.000000
 84  0.100000  1.000000  0.326599  0.381385  0.210819
 85  0.081650  0.326599  1.000000  0.233550  0.344265
 86  0.095346  0.381385  0.233550  1.000000  0.201008
 87  0.000000  0.210819  0.344265  0.201008  1.000000

 [88 rows x 88 columns],
          PO8         1         2         3         4    5    6         7  \
 0   1.000000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.105409
 1   0.000000  1.000000  0.577350  0.000000  0.707107  0.0  0.0  0.000000
 2   0.000000  0.577350  1.000000  0.666667  0.408248  0.0  0.0  0.000000
 3   0.000000  0.000000  0.666667  1.000000  0.000000  0.0  0.0  0.000000
 4   0.000000  0.707107  0.408248  0.000000  1.000000  0.0  0.0  0.000000
 ..       ...       ...       ...       ...       ...  ...  ...       ...
 83  0.100000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.000000
 84  0.400000  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.105409
 85  0.244949  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.258199
 86  0.953463  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.100504
 87  0.210819  0.000000  0.000000  0.000000  0.000000  0.0  0.0  0.222222

            8         9  ...        78        79        80        81        82  \
 0   0.000000  0.000000  ...  0.365148  0.000000  0.000000  0.223607  0.081650
 1   0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.258199
 2   0.000000  0.218218  ...  0.000000  0.000000  0.000000  0.204124  0.149071
 3   0.000000  0.218218  ...  0.000000  0.000000  0.000000  0.204124  0.000000
 4   0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.182574
 ..       ...       ...  ...       ...       ...       ...       ...       ...
 83  0.258199  0.119523  ...  0.182574  0.316228  0.129099  0.111803  0.408248
 84  0.000000  0.119523  ...  0.182574  0.000000  0.000000  0.223607  0.000000
 85  0.105409  0.292770  ...  0.149071  0.129099  0.000000  0.091287  0.000000
 86  0.000000  0.000000  ...  0.348155  0.000000  0.000000  0.213201  0.077850
 87  0.000000  0.000000  ...  0.000000  0.000000  0.000000  0.000000  0.000000

           83        84        85        86        87
 0   0.100000  0.400000  0.244949  0.953463  0.210819
 1   0.000000  0.000000  0.000000  0.000000  0.000000
 2   0.000000  0.000000  0.000000  0.000000  0.000000
 3   0.000000  0.000000  0.000000  0.000000  0.000000
 4   0.000000  0.000000  0.000000  0.000000  0.000000
 ..       ...       ...       ...       ...       ...
 83  1.000000  0.100000  0.081650  0.095346  0.000000
 84  0.100000  1.000000  0.326599  0.381385  0.210819

In [656]:
# Concatenating each  '0'th column from different cosine similarity dataframes
Ddn = []
for x in range(len(df)):
    Ddn.append(Dds[x][PO_LABEL+str(x+1)])

d = pd.concat(Ddn, axis=1)
d

,PO1,PO2,PO3,PO4,PO5,PO6,PO7,PO8,PO9,PO10,PO11,PO12
0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.298142,0.230940,0.000000,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.447214,0.230940,0.000000,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
83,0.070711,0.064550,0.081650,0.000000,0.212132,0.063246,0.079057,0.100000,0.000000,0.000000,0.000000,0.182574
84,0.212132,0.129099,0.081650,0.063246,0.141421,0.569210,0.316228,0.400000,0.121716,0.000000,0.000000,0.182574
85,0.461880,0.263523,0.200000,0.154919,0.288675,0.309839,0.839146,0.244949,0.198762,0.000000,0.143223,0.149071
86,0.269680,0.184637,0.077850,0.060302,0.202260,0.361814,0.226134,0.953463,0.116052,0.000000,0.000000,0.261116
87,0.521749,0.340207,0.258199,0.200000,0.372678,0.333333,0.416667,0.210819,0.577350,0.105409,0.000000,0.192450

In [657]:
# '0'th column gives us 1 which means each PLO map with own PLO.
# So we are removing that column.
dd = d[1:]
dd

,PO1,PO2,PO3,PO4,PO5,PO6,PO7,PO8,PO9,PO10,PO11,PO12
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.298142,0.230940,0.000000,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.447214,0.230940,0.000000,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
83,0.070711,0.064550,0.081650,0.000000,0.212132,0.063246,0.079057,0.100000,0.000000,0.000000,0.000000,0.182574
84,0.212132,0.129099,0.081650,0.063246,0.141421,0.569210,0.316228,0.400000,0.121716,0.000000,0.000000,0.182574
85,0.461880,0.263523,0.200000,0.154919,0.288675,0.309839,0.839146,0.244949,0.198762,0.000000,0.143223,0.149071
86,0.269680,0.184637,0.077850,0.060302,0.202260,0.361814,0.226134,0.953463,0.116052,0.000000,0.000000,0.261116
87,0.521749,0.340207,0.258199,0.200000,0.372678,0.333333,0.416667,0.210819,0.577350,0.105409,0.000000,0.192450

In [658]:
# resetting index
dd.reset_index(inplace = True)
dd.drop(['index'], axis=1, inplace = True)
dd

/tmp/ipykernel_12313/1086022003.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd.drop(['index'], axis=1, inplace = True)

,PO1,PO2,PO3,PO4,PO5,PO6,PO7,PO8,PO9,PO10,PO11,PO12
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.298142,0.230940,0.000000,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.447214,0.230940,0.000000,0.000000,0.000000,0.000000,0.111111,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
82,0.070711,0.064550,0.081650,0.000000,0.212132,0.063246,0.079057,0.100000,0.000000,0.000000,0.000000,0.182574
83,0.212132,0.129099,0.081650,0.063246,0.141421,0.569210,0.316228,0.400000,0.121716,0.000000,0.000000,0.182574
84,0.461880,0.263523,0.200000,0.154919,0.288675,0.309839,0.839146,0.244949,0.198762,0.000000,0.143223,0.149071
85,0.269680,0.184637,0.077850,0.060302,0.202260,0.361814,0.226134,0.953463,0.116052,0.000000,0.000000,0.261116
86,0.521749,0.340207,0.258199,0.200000,0.372678,0.333333,0.416667,0.210819,0.577350,0.105409,0.000000,0.192450

In [659]:
# print the matrix
print(dd)

         PO1       PO2       PO3       PO4       PO5       PO6       PO7  \
0   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1   0.000000  0.000000  0.298142  0.230940  0.000000  0.000000  0.000000
2   0.000000  0.000000  0.447214  0.230940  0.000000  0.000000  0.000000
3   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
4   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
..       ...       ...       ...       ...       ...       ...       ...
82  0.070711  0.064550  0.081650  0.000000  0.212132  0.063246  0.079057
83  0.212132  0.129099  0.081650  0.063246  0.141421  0.569210  0.316228
84  0.461880  0.263523  0.200000  0.154919  0.288675  0.309839  0.839146
85  0.269680  0.184637  0.077850  0.060302  0.202260  0.361814  0.226134
86  0.521749  0.340207  0.258199  0.200000  0.372678  0.333333  0.416667

         PO8       PO9      PO10      PO11      PO12
0   0.000000  0.000000  0.000000  0.000000  0.000000
1   0.000000  0.111111  0.000000  0.000000  0.000000
2   0.000000  0.111111  0.000000  0.000000  0.000000
3   0.000000  0.000000  0.000000  0.000000  0.000000
4   0.000000  0.000000  0.000000  0.000000  0.000000
..       ...       ...       ...       ...       ...
82  0.100000  0.000000  0.000000  0.000000  0.182574
83  0.400000  0.121716  0.000000  0.000000  0.182574
84  0.244949  0.198762  0.000000  0.143223  0.149071
85  0.953463  0.116052  0.000000  0.000000  0.261116
86  0.210819  0.577350  0.105409  0.000000  0.192450

[87 rows x 12 columns]

In [660]:
## This code loads the vector file into the word_vectors variable
## Download the vector file from https://fasttext.cc/docs/en/english-vectors.html (first file on the website), unzip the file and store in your local development folder
## Note: This piece of code may take upto an hour or two to run depending on your pc specs.
## My i5 8th gen with 8gig ram took 58mins to run.

# from gensim.models import KeyedVectors

# # Path to the downloaded .vec file
# path_to_vectors = 'wiki-news-300d-1M.vec'
# # path_to_vectors = 'wiki.en.vec'
# # Load the word vectors
# word_vectors = KeyedVectors.load_word2vec_format(path_to_vectors)

# # Find similar words
# similar_words = word_vectors.most_similar('cat')

# # Calculate word similarity
# similarity = word_vectors.similarity('cat', 'dog')

# # Perform vector arithmetic
# result = word_vectors['king'] - word_vectors['man'] + word_vectors['woman']

### LO Mapper Setup:

In [661]:
from gensim.models import KeyedVectors
from gensim.models import Word2Vec
from gensim.test.utils import common_texts

import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

import pandas as pd
import csv
import math

# import pprint
import re
import json

import spacy

# Initialises dictionary containing American to UK spelling translations
american_to_british_dict = {}
american_to_british_path = "American-British-English-Translator.json"
with open(american_to_british_path, "r") as file:
    data = file.read()
american_to_british_dict = json.loads(data)


def britishise(sentence):
    """
    Convert words in a sentence to UK spelling to ensure consistency

    Input:
        sentence: An array of strings

    Output:
        sentence: An array of strings, which have been converted to UK spelling
    """

    for j in range(len(sentence)):
        try:
            sentence[j] = american_to_british_dict[sentence[j].lower()]
        except:
            pass

    return sentence

lemmatizer = WordNetLemmatizer()


def verb_classifier(verbs_file_path):  #
    """
    Takes an excel spreadsheet containing verbs, classifies the verbs and stores it into a Dataframe.


    Inputs:
        verbs_file_path: A string that contains the path to the excel spreadsheet to be read

    Outputs:
        domain_levels: A DataFrame which contains all the verbs from the spreadsheet classified into their respective levels
    """

    xlsx = pd.ExcelFile(verbs_file_path, engine="openpyxl")

    sheet_names = xlsx.sheet_names  # Get a list of sheet names

    # Create an empty dictionary to store DataFrames for each sheet
    dfs = {}

    for sheet_name in sheet_names:
        df = xlsx.parse(sheet_name)  # For XLSX files

        # Store the DataFrame in the dictionary
        dfs[sheet_name] = df

    domain_levels = pd.concat(dfs)
    duplicate_checklist = []

    # Iterate over all values in the spreadsheet
    for i in range(domain_levels.shape[0]):
        for j in range(domain_levels.shape[1]):
            cell_value = domain_levels.iloc[i, j]
            if not pd.isna(
                cell_value
            ):  # Format verbs (lower case, UK spelling, lemmatised format)
                cell_value_lower = cell_value.lower()
                verb_brit = britishise([cell_value_lower])[0]
                verb = lemmatizer.lemmatize(verb_brit, pos="v")

                if (
                    verb not in duplicate_checklist
                ):  # Check if the verb is already mapped
                    domain_levels.iloc[i, j] = verb
                    duplicate_checklist.append(verb)
                else:
                    domain_levels.iloc[i, j] = float("nan")

    domain_levels = domain_levels.dropna(how="all")
    return domain_levels

# Convert mapped_verbs DataFrames which is used to find verbs at a certain level, to a 'dictionary' to lookup the level of a verb
def generate_verb_list(mapped_verbs):
    tp_arr = []
    levels = []
    for t_key, t_item in mapped_verbs.items():
        print(t_item)
        columns = t_item.columns.values
        for x in range(t_item.shape[0]):
            for y in range(t_item.shape[1]):
                verb = t_item.iloc[x, y]
                if not pd.isna(verb):
                    tp_arr.append((t_key, verb))
                    levels.append(columns[y])

    index = pd.MultiIndex.from_tuples(tp_arr)
    verb_list = pd.DataFrame(levels, index=index, columns=["Level"])
    return verb_list

# Load the English language model in spaCy
# nlp = spacy.load('en_core_web_sm')
nlp = spacy.load("en_core_web_trf", exclude=["ner"])


## Function to identify verbs in a sentence
def identify_verbs(sentence):
    """
    Identify verbs within a sentence and lemmatise them (convert them into their base word)

    Inputs:
        sentence: A string

    Outputs:
        verbs: An array of strings representing identified verbs in their lemmatised form
    """

    # Process the sentence using spaCy
    doc = nlp(sentence)

    # Extract the verbs from the processed sentence
    verbs = [token.lemma_ for token in doc if token.pos_ == "VERB"]

    return verbs


def extract_columns(file_path, columns):
    extracted_data = {}

    with open(file_path, "r") as file:
        reader = csv.reader(file)
        headers = next(reader)  # Read the headers

        # Check if all specified columns exist in the CSV file
        for column in columns:
            if column not in headers:
                raise ValueError(f"Column '{column}' not found in the CSV file.")

        # Initialize separate arrays for each column
        for column in columns:
            extracted_data[column] = []

        # Extract data from specified columns
        for row in reader:
            for column in columns:
                column_index = headers.index(column)
                extracted_data[column].append(row[column_index])

    return extracted_data


# Paths
solo_file_path = "SOLO.xlsx"
bloom_cognitive_file_path = "Bloom_cognitive.xlsx"
bloom_psychomotor_file_path = "Bloom_psychomotor.xlsx"
bloom_affective_file_path = "Bloom_affective.xlsx"
# Verbs
mapped_verbs = {
    "Cognitive": verb_classifier(bloom_cognitive_file_path),
    "Affective": verb_classifier(bloom_affective_file_path),
    "Psychomotor": verb_classifier(bloom_psychomotor_file_path),
    "SOLO": verb_classifier(solo_file_path),
}

verb_list = generate_verb_list(mapped_verbs)
print(verb_list)

# Thresholds to filter the similarity of words to improve accuracy
suggested_sim_threshold = 0.985
sim_threshold = 0.997

# Example usage
csv_file = "Learning outcomes manual mapping - Mappings.csv"
# csv_file = 'Learning outcomes manual mapping - Mappings - Testing.csv'
columns_to_extract = ["LO", "Cognitive", "Affective", "Psychomotor", "SOLO"]

extracted_data = extract_columns(csv_file, columns_to_extract)

sentences = extracted_data["LO"]
final_levels = {
    "Cognitive": extracted_data["Cognitive"],
    "Affective": extracted_data["Affective"],
    "Psychomotor": extracted_data["Psychomotor"],
    "SOLO": extracted_data["SOLO"],
}

# extract tables from word document
from docx2csv import extract_tables
from docx import Document
tables = extract_tables(CURRENT_MAPPING)
document = Document(CURRENT_MAPPING)

def read_docx_table(document,table_num):
  table = document.tables[table_num-1]
  data = [[cell.text for cell in row.cells] for row in table.rows]
  df = pd.DataFrame(data)
  return df

training_sentences_4 = []

table_num=1
df_po = read_docx_table(document,table_num)
df_po.head(n=12)
for i in range(len(df_po[1])):
  training_sentences_4.append(df_po[1][i].replace("\n",""))

table_num=2
df1 = read_docx_table(document,table_num)
df_clo = df1.copy()
for i in range(len(df_clo[1])):
  training_sentences_4.append(df_clo[1][i].replace("\n",""))

sentences = training_sentences_4
# print(sentences)

nltk.download("punkt")
nltk.download("stopwords")
nltk.download("wordnet")

stop_words = set(stopwords.words("english"))

# Array of all the PLOs and ULOs (We can couple them together as we're trying to identify Bloom/Solo level here)
lo_sentence_array = []

# training_sentences = training_sentences_1
# training_sentences = training_sentences_2
# training_sentences = training_sentences_3
training_sentences = training_sentences_4

# TODO: train CLO classification with all data instead of just one course.
for sentence in training_sentences:
    sentence = re.sub(r"[^\w\s]", "", sentence)
    # Process the sentence using spaCy
    doc = nlp(sentence)

    # Extract the verbs from the processed sentence
    cleaned_tokens = [token.lemma_ for token in doc if token.lower_ not in stop_words]
    cleaned_tokens = britishise(cleaned_tokens)
    lo_sentence_array.append(cleaned_tokens)

# build the vocabulary and train the model
# IMPORTANT, N0TE THAT sg=1 flag specifies Word2Vec to use the Skip Gram Model as designated by the LSTM paper.
model = Word2Vec(
    sentences=lo_sentence_array,
    vector_size=100,
    window=5,
    min_count=1,
    workers=4,
    sg=1,
    epochs=30,
)

model.build_vocab(corpus_iterable=verb_list, update=True)
model.update_weights()

model_1_wv = model.wv

print("Method 1")
word_vectors = model_1_wv

# print("\nMethod 2")
# word_vectors = model_2_wv
# learning_outcome_mapping(sentences, final_levels, sim_threshold, suggested_sim_threshold)

                          Remembering Understanding     Applying   Analysing  \
Bloom Cognitive Monash 0       define      classify       choose   breakdown
                       1         draw       compare      compute  categorise
                       2    duplicate      describe  demonstrate         NaN
                       3         list       discuss    dramatise    contrast
                       4        label   distinguish       employ   criticise
...                               ...           ...          ...         ...
Bloom Cognitive UIC    31         NaN           NaN          NaN         NaN
                       32         NaN           NaN        place         NaN
                       34         NaN           NaN          NaN      survey
                       36         NaN           NaN     schedule         NaN
                       37         NaN           NaN    stimulate         NaN

                          Evaluating    Creating
Bloom Cognitive Monash 0    appraise    assemble
                       1       argue   construct
                       2      assess      create
                       3      defend     compose
                       4    evaluate      design
...                              ...         ...
Bloom Cognitive UIC    31        NaN   role-play
                       32        NaN  schematize
                       34     weight   speculate
                       36        NaN   subsitute
                       37        NaN         NaN

[158 rows x 6 columns]
                           Receiving Responding        Valuing Organisation  \
Bloom Affective UNH     0        ask     answer       complete       adhere
                        1     choose     assist    demonstrate        alter
                        2   describe        aid  differentiate      arrange
                        3     follow     comply        explain      combine
                        4       give    conform            NaN      compare
...                              ...        ...            ...          ...
Bloom Affective Alberta 11       NaN        NaN         pursue          NaN
                        13       NaN        NaN            NaN   prioritise
                        14       NaN        NaN            NaN    reconcile
Bloom Affective Madison 4        NaN      enjoy            NaN          NaN
Bloom Affective UIC     7        NaN   discuess            NaN          NaN

                           Characterisation
Bloom Affective UNH     0               act
                        1      discriminate
                        2           display
                        3         influence
                        4            listen
...                                     ...
Bloom Affective Alberta 11              NaN
                        13              NaN
                        14              NaN
Bloom Affective Madison 4               NaN
Bloom Affective UIC     7               NaN

[78 rows x 5 columns]
                                  Perception          Set Guided Response  \
Bloom Psychomotor UNH      0          choose        begin            copy
                           1        describe      display           trace
                           2          detect      explain          follow
                           3   differentiate         move           react
                           4     distinguish      proceed       reproduce
                           5        identify          NaN         respond
                           6         isolate         show             NaN
                           7          relate        state             NaN
                           8          select    volunteer             NaN
                           9             NaN          NaN             NaN
                           10            NaN          NaN             NaN
                           11            NaN          NaN             NaN
                           12            NaN          NaN             NaN
                           13            NaN          NaN             NaN
                           14            NaN          NaN             NaN
Bloom Psychomotor Syracuse 1             NaN       disply             NaN
                           6             NaN          NaN         dissect
                           8             NaN        start             NaN
                           9        separate          NaN             NaN
                           17            NaN          NaN            work
Bloom Psychomotor Waterloo 1             NaN          NaN         attempt
                           2             NaN  demonstrate             NaN
                           3             NaN          NaN             NaN
                           5             NaN          NaN         imitate
                           6             NaN      prepare             NaN
                           7             NaN          NaN             NaN
                           10            NaN          NaN             try
                           12            NaN          NaN             NaN
                           14            NaN          NaN             NaN
                           15            NaN          NaN             NaN
Bloom Psychomotor UIC      0          adjust          NaN             NaN
                           6        estimate          NaN             NaN
                           9       recognise          NaN             NaN

                                Mechanism Complex Overt Response  Adaptation  \
Bloom Psychomotor UNH      0     assemble                    NaN       adapt
                           1    calibrate                    NaN       alter
                           2    construct                    NaN      change
                           3    dismantle                    NaN   rearrange
                           4          NaN                    NaN  reorganise
                           5       fasten                    NaN      revise
                           6          fix                    NaN        vary
                           7        grind                    NaN         NaN
                           8         heat                    NaN         NaN
                           9   manipulate                    NaN         NaN
                           10     measure                    NaN         NaN
                           11        mend                    NaN         NaN
                           12         mix                    NaN         NaN
                           13    organise                    NaN         NaN
                           14      sketch                    NaN         NaN
Bloom Psychomotor Syracuse 1          NaN                    NaN         NaN
                           6          NaN                    NaN         NaN
                           8          NaN                    NaN         NaN
                           9          NaN                    NaN         NaN
                           17         NaN                    NaN         NaN
Bloom Psychomotor Waterloo 1          NaN                    NaN         NaN
                           2          NaN                    NaN         NaN
                           3          NaN                    NaN      modify
                           5          NaN                    NaN         NaN
                           6          NaN                    NaN         NaN
                           7          NaN                    NaN         NaN
                           10         NaN                    NaN         NaN
                           12         NaN                    NaN         NaN
                           14         NaN                operate         NaN
                           15         NaN                perform         NaN
Bloom Psychomotor UIC      0          NaN                    NaN         NaN
                           6          NaN                    NaN         NaN
                           9          NaN                    NaN         NaN

                              Origination
Bloom Psychomotor UNH      0      arrange
                           1        build
                           2      combine
                           3      compose
                           4          NaN
                           5       create
                           6       design
                           7     initiate
                           8         make
                           9    originate
                           10         NaN
                           11         NaN
                           12         NaN
                           13         NaN
                           14         NaN
Bloom Psychomotor Syracuse 1          NaN
                           6          NaN
                           8          NaN
                           9          NaN
                           17         NaN
Bloom Psychomotor Waterloo 1          NaN
                           2          NaN
                           3          NaN
                           5          NaN
                           6          NaN
                           7    formulate
                           10         NaN
                           12  re-designs
                           14         NaN
                           15         NaN
Bloom Psychomotor UIC      0          NaN
                           6          NaN
                           9          NaN
               Prestructural Unistructural Multistructural  Relational  \
SOLO Monash 0            NaN        comply          define     address
            1            NaN      identify        describe     analyse
            2            NaN        locate       determine       apply
            3            NaN           NaN         discern  appreciate
            4            NaN           NaN           issue   calculate
...                      ...           ...             ...         ...
SOLO CIU    20           NaN           NaN          rework         map
            21           NaN          test             NaN     observe
            22           NaN      transmit             NaN         NaN
            23           NaN           NaN           solve     perform
            24           NaN           NaN       symbolise         NaN

               Extended Abstract
SOLO Monash 0           appraise
            1             assess
            2         deliberate
            3        demonstrate
            4             design
...                          ...
SOLO CIU    20               NaN
            21               NaN
            22          validate
            23         visualise
            24               NaN

[78 rows x 5 columns]
                                 Level
Cognitive define           Remembering
          classify       Understanding
          choose              Applying
          breakdown          Analysing
          appraise          Evaluating
...                                ...
SOLO      validate   Extended Abstract
          solve        Multistructural
          perform           Relational
          visualise  Extended Abstract
          symbolise    Multistructural

[730 rows x 1 columns]

[nltk_data] Downloading package punkt to /home/edward/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /home/edward/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/edward/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

Method 1

In [662]:
def export_dataframe(df, path, sheet_name, columns):
# Export Failed Cases
    # print(failed_cases)
    with pd.ExcelWriter(path) as writer:
        df.to_excel(
            writer,
            sheet_name = sheet_name,
            columns = columns
        )

def calculate_accuracy(mappings, final_levels):
    passed_mappings = {"Cognitive": 0, "Affective": 0, "Psychomotor": 0, "SOLO": 0}
    failed_mappings = {"Cognitive": 0, "Affective": 0, "Psychomotor": 0, "SOLO": 0}
    columns = mappings.columns
    columns.append(pd.Index(data=["Manual Level"]))
    failed_cases = pd.DataFrame(columns=columns)

    # Calculate Accuracy
    total_passed = 0
    total_failed = 0
    for i in range(mappings.shape[0]):
        taxonomy = mappings.at[i, "Chosen Taxonomy"]
        if taxonomy and mappings.at[i, "Mapped Level"] == final_levels[taxonomy][i]:
            passed_mappings[taxonomy] += 1
            total_passed += 1
        else:
            total_failed += 1
            failed_cases.loc[total_failed] = mappings.loc[i].copy()
            if taxonomy:
                failed_mappings[taxonomy] += 1
                failed_cases.at[total_failed, "Manual Level"] = final_levels[taxonomy][i]

    for taxonomy in passed_mappings.keys():
        if failed_mappings[taxonomy] == 0:
            failed_mappings[taxonomy] = 1
        mapping_percentage = math.ceil((passed_mappings[taxonomy] / (passed_mappings[taxonomy] + failed_mappings[taxonomy])) * 100)
        print("Percentage of ", taxonomy, " mappings passed: ", mapping_percentage, "%")

    total_mapping_percentage = math.ceil(
        (total_passed / (total_passed + total_failed)) * 100
    )
    print("Total percentage of mappings passed: ", total_mapping_percentage, "%")

    export_dataframe(mappings, "./outputs/all_lo_mappings.xlsx", "all_mappings", mappings.columns)
    export_dataframe(failed_cases, "./outputs/failed_lo_mappings.xlsx", "failed_mappings", failed_cases.columns)

### Executing Learning Outcome Mapping Function

In [663]:
def learning_outcome_mapping(
    sentences, final_levels, SIM_THRESHOLD, SUGGESTED_SIM_THRESHOLD, calculate_accuracy_flag
):
    """
    Input:
        sentences: An array of Learning Outcomes (sentences) in string format.
        final levels: An dictionary of arrays. The dictionary keys are the taxonomies and the arrays contain strings representing the final mapped level of the corresponding learning outcome. If LO is not mapped to that domain leave null value
    """

    mappings = pd.DataFrame(
        columns=[
            "Sentence",
            "Chosen Taxonomy",
            "Mapped Level",
            "Verbs Identified",
            "Suggested Verbs"
        ]
    )

    for i in range(len(sentences)):  # Iterates over the LOs
        sentence = britishise(sentences[i])

        identified_verbs = identify_verbs(sentence)
        similar_verbs = {}

        score_list = {
            "Cognitive": {
                "Remembering": 0,
                "Understanding": 0,
                "Applying": 0,
                "Analysing": 0,
                "Evaluating": 0,
                "Creating": 0,
            },
            "Affective": {
                "Receiving": 0,
                "Responding": 0,
                "Valuing": 0,
                "Organisation": 0,
                "Characterisation": 0,
            },
            "Psychomotor": {
                "Perception": 0,
                "Set": 0,
                "Guided Response": 0,
                "Mechanism": 0,
                "Complex Overt Response": 0,
                "Adaptation": 0,
                "Origination": 0,
            },
            "SOLO": {
                "Prestructural": 0,
                "Unistructural": 0,
                "Multistructural": 0,
                "Relational": 0,
                "Extended Abstract": 0,
            },
        }

        for taxonomy_key, taxonomy_item in mapped_verbs.items():
            similar_verbs[taxonomy_key] = pd.DataFrame(columns=["Level", "Similarity"])
            for identified_verb in identified_verbs:
                for k in range(taxonomy_item.shape[1]):  # Col (Level)
                    for j in range(taxonomy_item.shape[0]):  # Row
                        current_level =taxonomy_item.columns[k]
                        verb = taxonomy_item.iloc[j, k]

                        if verb is None or not verb or pd.isna(verb):
                            continue

                        similarity_score = 0
                        try:  # Currently some of the 'verbs' identified are phrases rather than words and it was throwing errors so this is a temp solution
                            sim_score = word_vectors.similarity(identified_verb, verb)
                            if (
                                sim_score >= SUGGESTED_SIM_THRESHOLD
                                and identified_verb != verb
                            ):
                                similar_verbs[taxonomy_key].at[
                                    verb, "Level"
                                ] = current_level
                                similar_verbs[taxonomy_key].at[
                                    verb, "Similarity"
                                ] = sim_score
                            if sim_score >= SIM_THRESHOLD:
                                similarity_score += sim_score
                        except:
                            pass
                        score_list[taxonomy_key][
                            current_level
                        ] += similarity_score

        # Determine Taxonomy and Identify level based on similarity
        chosen_taxonomy = {"Taxonomy": None, "Score": 0}
        max_score = {
            "Cognitive": {"Level": None, "Score": 0},
            "Affective": {"Level": None, "Score": 0},
            "Psychomotor": {"Level": None, "Score": 0},
            "SOLO": {"Level": None, "Score": 0},
        }
        for t_key, t_item in score_list.items():
            for l in t_item:
                if max_score[t_key]["Score"] < score_list[t_key][l]:
                    max_score[t_key] = {"Level": l, "Score": score_list[t_key][l]}
            if max_score[t_key]["Score"] > chosen_taxonomy["Score"]:
                chosen_taxonomy = {"Taxonomy": t_key, "Score": max_score[t_key]["Score"]}

        mapped_level = "Not Mapped"
        if chosen_taxonomy["Taxonomy"] != None:
            mapped_level = max_score[chosen_taxonomy["Taxonomy"]]["Level"]

        # Generate output for sentence
        mappings.at[i, "Sentence"] = sentence
        mappings.at[i, "Chosen Taxonomy"] = chosen_taxonomy["Taxonomy"]
        mappings.at[i, "Mapped Level"] = mapped_level

        # Generate identified verb and level tuples for sentence data
        s_d_identified_verbs = []
        for verb in identified_verbs:
            level = "Verb not mapped"
            try:
                level = verb_list.at[(chosen_taxonomy["Taxonomy"], verb), "Level"]
            except:
                pass
            finally:
                s_d_identified_verbs.append((verb, level))

        mappings.at[i, "Verbs Identified"] = s_d_identified_verbs

        # Generate suggested verbs
        sim_verbs = (
            similar_verbs[chosen_taxonomy["Taxonomy"]]
            .sort_values(by=["Similarity"], ascending=False)
            .head(5)
        ) if chosen_taxonomy["Taxonomy"] != None else pd.DataFrame()
        suggested_verbs = []
        if sim_verbs.shape[0] > 0:
            suggested_verbs = [
                (verb, sim_verbs.at[verb, "Level"]) for verb in sim_verbs.index
            ]
        mappings.at[i, "Suggested Verbs"] = suggested_verbs

    if calculate_accuracy_flag:
        calculate_accuracy(mappings, final_levels)

    return mappings

# TODO: Classify the verbs in each of the learning outcomes
ulo_sentences = p1[1].to_list()
plo_sentences = df[1].to_list()

# Thresholds to filter the similarity of words to improve accuracy
suggested_sim_threshold = 0.985
sim_threshold = 0.997

# Example usage
csv_file = "Learning outcomes manual mapping - Mappings.csv"
# csv_file = 'Learning outcomes manual mapping - Mappings - Testing.csv'
columns_to_extract = ["LO", "Cognitive", "Affective", "Psychomotor", "SOLO"]

extracted_data = extract_columns(csv_file, columns_to_extract)

final_levels = {
    "Cognitive": extracted_data["Cognitive"],
    "Affective": extracted_data["Affective"],
    "Psychomotor": extracted_data["Psychomotor"],
    "SOLO": extracted_data["SOLO"],
}

ulo_classifications = learning_outcome_mapping(ulo_sentences, final_levels, sim_threshold, suggested_sim_threshold, True)
plo_classifications = learning_outcome_mapping(plo_sentences, final_levels, sim_threshold, suggested_sim_threshold, False)

# Iteration 1: Assume both CLOs and POs are classifiable into Cognitive, Affective, Psychomotor Levels. 
# If levels match, boost the CLO to PO coefficient by 0.1
# If levels different, don't boost

Percentage of  Cognitive  mappings passed:  0 %
Percentage of  Affective  mappings passed:  0 %
Percentage of  Psychomotor  mappings passed:  0 %
Percentage of  SOLO  mappings passed:  0 %
Total percentage of mappings passed:  0 %

In [664]:
plo_classifications

,Sentence,Chosen Taxonomy,Mapped Level,Verbs Identified,Suggested Verbs
0,"Apply knowledge of mathematics, natural scienc...",SOLO,Relational,"[(apply, Relational)]","[(organise, Relational), (explain, Relational)..."
1,"Identify, formulate, survey research literatur...",Cognitive,Analysing,"[(identify, Understanding), (formulate, Creati...","[(programme, Evaluating), (research, Analysing..."
2,Design solutions for complex Software engineer...,SOLO,Extended Abstract,"[(design, Extended Abstract), (design, Extende...","[(plan, Extended Abstract), (implement, Relati..."
3,Conduct investigations of complex Software eng...,Cognitive,Applying,"[(conduct, Applying), (use, Applying), (base, ...","[(explain, Understanding), (research, Analysin..."
4,"Create, select and apply appropriate technique...",Affective,Receiving,"[(create, Verb not mapped), (select, Receiving...","[(identify, Receiving), (support, Valuing), (m..."
5,Apply reasoning informed by contextual knowled...,Cognitive,Applying,"[(apply, Applying), (inform, Verb not mapped),...","[(assess, Evaluating), (support, Evaluating), ..."
6,Understand and evaluate the sustainability and...,Cognitive,Analysing,"[(understand, Verb not mapped), (evaluate, Eva...","[(recognise, Understanding), (analyse, Analysi..."
7,Apply ethical principles and commit to profess...,SOLO,Relational,"[(apply, Relational), (commit, Verb not mapped)]","[(apply, Relational), (define, Multistructural..."
8,Communicate effectively on complex Software en...,Affective,Valuing,"[(communicate, Responding), (comprehend, Verb ...","[(form, Valuing), (adopt, Valuing), (describe,..."
9,"Function effectively as an individual, and as ...",Affective,Characterisation,"[(function, Characterisation)]","[(communicate, Responding), (evaluate, Valuing..."
10,"Recognize the need for, and have the preparati...",SOLO,Extended Abstract,"[(recognize, Verb not mapped), (have, Verb not...","[(demonstrate, Extended Abstract), (recognise,..."
11,Demonstrate knowledge and understanding of eng...,SOLO,Relational,"[(demonstrate, Extended Abstract), (apply, Rel...","[(organise, Relational), (plan, Extended Abstr..."

In [665]:

def regulatory_requirement_mapping(SIM_THRESHOLD, SUGGESTED_SIM_THRESHOLD):

    document = Document(PROGRAM_OUTCOME_TABLE)
    table_num = 1
    po_table = read_docx_table(document,table_num)

    final_levels = []

    # PO1 to PO12
    for i in range(1,13):
        current_po_rr_sentences = []
        for j in range(1,4):
            split_sentences = po_table[j][i].split(";")
            for k in range(len(split_sentences)):
                split_sentences[k] = split_sentences[k].replace("\n","")
            while("" in split_sentences):
                split_sentences.remove("")
            while(" " in split_sentences):
                split_sentences.remove(" ")

            for k in range(len(split_sentences)):
                current_po_rr_sentences.append(split_sentences[k])

        # print(current_po_rr_sentences)
        rr_clasifications = learning_outcome_mapping(current_po_rr_sentences, final_levels, SIM_THRESHOLD, SUGGESTED_SIM_THRESHOLD, False)

        mapped_levels = []
        for j in range(len(rr_clasifications["Mapped Level"])):
            mapped_levels.append(rr_clasifications["Mapped Level"][j])
        final_level = max(mapped_levels,key=mapped_levels.count)
        cnt = 0
        for level in mapped_levels:
            if level == final_level:
                cnt += 1
                
        if plo_classifications['Mapped Level'][i-1] != final_level and cnt > 1:
            final_levels.append(final_level)
        else:
            final_levels.append(plo_classifications['Mapped Level'][i-1])
    return final_levels

# final_levels = regulatory_requirement_mapping(sim_threshold, suggested_sim_threshold)
# for i in range(len(final_levels)):
#     plo_classifications["Mapped Level"][i] = final_levels[i]
# plo_classifications

### ADJUSTING THRESHOLDS USING THE LEVELS FOUND FOR LO Mapper & PO Mapper.

In [666]:
# Copy the original dd dataframe to compare w/ adjusted mappings.
dd_original = dd.copy()
print(dd_original)

         PO1       PO2       PO3       PO4       PO5       PO6       PO7  \
0   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
1   0.000000  0.000000  0.298142  0.230940  0.000000  0.000000  0.000000
2   0.000000  0.000000  0.447214  0.230940  0.000000  0.000000  0.000000
3   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
4   0.000000  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
..       ...       ...       ...       ...       ...       ...       ...
82  0.070711  0.064550  0.081650  0.000000  0.212132  0.063246  0.079057
83  0.212132  0.129099  0.081650  0.063246  0.141421  0.569210  0.316228
84  0.461880  0.263523  0.200000  0.154919  0.288675  0.309839  0.839146
85  0.269680  0.184637  0.077850  0.060302  0.202260  0.361814  0.226134
86  0.521749  0.340207  0.258199  0.200000  0.372678  0.333333  0.416667

         PO8       PO9      PO10      PO11      PO12
0   0.000000  0.000000  0.000000  0.000000  0.000000
1   0.000000  0.111111  0.000000  0.000000  0.000000
2   0.000000  0.111111  0.000000  0.000000  0.000000
3   0.000000  0.000000  0.000000  0.000000  0.000000
4   0.000000  0.000000  0.000000  0.000000  0.000000
..       ...       ...       ...       ...       ...
82  0.100000  0.000000  0.000000  0.000000  0.182574
83  0.400000  0.121716  0.000000  0.000000  0.182574
84  0.244949  0.198762  0.000000  0.143223  0.149071
85  0.953463  0.116052  0.000000  0.000000  0.261116
86  0.210819  0.577350  0.105409  0.000000  0.192450

[87 rows x 12 columns]

In [667]:
# for classification in ulo_classifications:
#     print(classification)

# BASE ALGORITHM ACCURACY (w/ no learning outcome mapper), ADJUSTMENT_THRESHOLD=0:
# 0.8544061302681993
# ALGORITHM ACCURACY (w/ new learning outcome mapper), ADJUSTMENT_THRESHOLD=0.1:
# 0.8927203065134102
# ALGORITHM ACCURACY (w/ new learning outcome mapper), ADJUSTMENT_THRESHOLD=0.15:
# 0.8936781609195404
# ALGORITHM ACCURACY (w/ new learning outcome mapper), ADJUSTMENT_THRESHOLD=0.2:
# 0.8946360153256706
# ALGORITHM ACCURACY (w/ new learning outcome mapper), ADJUSTMENT_THRESHOLD=0.25:
# 0.8946360153256707
# ALGORITHM ACCURACY (w/ new learning outcome mapper), ADJUSTMENT_THRESHOLD=0.3:
# 0.8869731800766286
# ALGORITHM ACCURACY (w/ new learning outcome mapper), ADJUSTMENT_THRESHOLD=0.4:
# 0.8764367816091956
# ALGORITHM ACCURACY (w/ new learning outcome mapper), ADJUSTMENT_THRESHOLD=0.5:
# 0.8678160919540232
# ALGORITHM ACCURACY (w/ new learning outcome mapper), ADJUSTMENT_THRESHOLD=1:
# 0.8678160919540232

data = {
    'ulo': [],
    'plo': [],
    'ulo_level': [],
    'plo_level': [],
}
po_mappings = pd.DataFrame(data)

# Goes through each cell in the LO->PO Mapping table and adjusts the value using a static ADJUSTMENT_THRESHOLD Value.
for x in range(len(plo_classifications['Mapped Level'])):
    for i in range(len(ulo_classifications['Mapped Level'])):

        new_row = pd.DataFrame({'ulo': [ulo_classifications['Sentence'][i]], 'plo': [plo_classifications['Sentence'][x]], 'ulo_level': [ulo_classifications['Mapped Level'][i]], 'plo_level': [plo_classifications['Mapped Level'][x]]})
        if ulo_classifications['Mapped Level'][i] == plo_classifications['Mapped Level'][x]:
            
            po_mappings = pd.concat([new_row, po_mappings], ignore_index=True)
            # po_mappings.loc[0] = [ulo_classifications['Sentence'][i], plo_classifications['Sentence'][x], ulo_classifications['Mapped Level'][i],plo_classifications['Mapped Level'][x]]  # adding a row
        else:
            po_mappings = po_mappings.append(new_row, ignore_index=True)
            # po_mappings.loc[-1] = [ulo_classifications['Sentence'][i], plo_classifications['Sentence'][x], ulo_classifications['Mapped Level'][i],plo_classifications['Mapped Level'][x]]  # adding a row
        # po_mappings.index = po_mappings.index + 1  # shifting index

        if ulo_classifications['Mapped Level'][i] == plo_classifications['Mapped Level'][x]:
            if dd[PO_LABEL+str(x+1)][i] + ADJUSTMENT_THRESHOLD <= 1:
                dd[PO_LABEL+str(x+1)][i] += ADJUSTMENT_THRESHOLD # Add Offset
            else:
                dd[PO_LABEL+str(x+1)][i] = 1
        else:
            if dd[PO_LABEL+str(x+1)][i] - ADJUSTMENT_THRESHOLD >= 0:
                dd[PO_LABEL+str(x+1)][i] -= ADJUSTMENT_THRESHOLD # Add Offset
            else:
                dd[PO_LABEL+str(x+1)][i] = 0

/tmp/ipykernel_12313/916884429.py:41: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  po_mappings = po_mappings.append(new_row, ignore_index=True)
/tmp/ipykernel_12313/916884429.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd[PO_LABEL+str(x+1)][i] = 0
/tmp/ipykernel_12313/916884429.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd[PO_LABEL+str(x+1)][i] -= ADJUSTMENT_THRESHOLD # Add Offset
/tmp/ipykernel_12313/916884429.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd[PO_LABEL+str(x+1)][i] += ADJUSTMENT_THRESHOLD # Add Offset
/tmp/ipykernel_12313/916884429.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd[PO_LABEL+str(x+1)][i] = 1

In [668]:
# print(po_mappings["ulo_level"]+"-"+po_mappings["plo_level"])m
print(po_mappings)
export_dataframe(po_mappings, "./outputs/po_mappings.xlsx", "po_mappings", po_mappings.columns)

                                                    ulo  \
0     explain the contract laws and apply ethical pr...
1     evaluate the interconnection of quality, heath...
2     evaluate and apply the basic tools and techniq...
3     summarise, compare, design, and theoretically ...
4     evaluate different strategies for solving and ...
...                                                 ...
1039  compare and analyse appropriate industry-stand...
1040  analyse and deliberate professional issues occ...
1041  apply project evaluation techniques including ...
1042  understand and evaluate the need for sustainab...
1043  communicate effectively on complex civil engin...

                                                    plo      ulo_level  \
0     Demonstrate knowledge and understanding of eng...     Relational
1     Demonstrate knowledge and understanding of eng...     Relational
2     Demonstrate knowledge and understanding of eng...     Relational
3     Demonstrate knowledge and understanding of eng...     Relational
4     Demonstrate knowledge and understanding of eng...     Relational
...                                                 ...            ...
1039  Demonstrate knowledge and understanding of eng...      Analysing
1040  Demonstrate knowledge and understanding of eng...  Understanding
1041  Demonstrate knowledge and understanding of eng...      Analysing
1042  Demonstrate knowledge and understanding of eng...      Analysing
1043  Demonstrate knowledge and understanding of eng...     Responding

       plo_level
0     Relational
1     Relational
2     Relational
3     Relational
4     Relational
...          ...
1039  Relational
1040  Relational
1041  Relational
1042  Relational
1043  Relational

[1044 rows x 4 columns]

In [669]:
# store the matrix into csv file
dd.to_csv('pseudocodematrix.csv', index=False)

## Setting threshold value (taking min and max of each column and divided by 2)
## threshold value = (min +max)/2

In [670]:

# TODO: Alter the threshold based on matching hierarchy type & bloom verb instead of simply using (column_max+column_min)/2

# Setting threshold value 
# Taking min max average of each column and set that as a threshold value

# This will change the coefficients into 0 or 1 mappings in the dd dataframe
for x in range(len(df)):
    tes = dd[PO_LABEL+str(x+1)].values.min()
    tes1 = dd[PO_LABEL+str(x+1)].values.max()
    tt1 = (tes+tes1)/2
    
    if tt1 == 0:
      dd[PO_LABEL+str(x+1)] = dd[PO_LABEL+str(x+1)] 
    else:
      dd[PO_LABEL+str(x+1)] = dd[PO_LABEL+str(x+1)].apply(lambda x: 1 if x >= tt1 else 0)

/tmp/ipykernel_12313/2685648672.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dd[PO_LABEL+str(x+1)] = dd[PO_LABEL+str(x+1)].apply(lambda x: 1 if x >= tt1 else 0)

In [671]:

# TODO: Alter the threshold based on matching hierarchy type & bloom verb instead of simply using (column_max+column_min)/2

# Setting threshold value 
# Taking min max average of each column and set that as a threshold value

# This will change the coefficients into 0 or 1 mappings in the dd dataframe
for x in range(len(df)):
    tes = dd_original[PO_LABEL+str(x+1)].values.min()
    tes1 = dd_original[PO_LABEL+str(x+1)].values.max()
    tt1 = (tes+tes1)/2
    
    if tt1 == 0:
      dd_original[PO_LABEL+str(x+1)] = dd_original[PO_LABEL+str(x+1)] 
    else:
      dd_original[PO_LABEL+str(x+1)] = dd_original[PO_LABEL+str(x+1)].apply(lambda x: 1 if x >= tt1 else 0)

In [672]:

dd.to_csv('PLO-CLOmapping.csv', index=False)

In [673]:
dd.head()

   PO1  PO2  PO3  PO4  PO5  PO6  PO7  PO8  PO9  PO10  PO11  PO12
0    0    0    0    0    0    0    0    0    0     0     0     0
1    0    0    0    0    0    0    0    0    0     0     0     0
2    0    0    0    0    0    0    0    0    0     0     0     0
3    0    1    0    0    0    0    0    0    0     0     0     0
4    0    0    0    0    0    0    0    0    0     0     0     0

In [674]:
# human generated output
d= pd.read_csv(ORIGINAL_MAPPING)
d.head()

   PO1  PO2  PO3  PO4  PO5  PO6  PO7  PO8  PO9  PO10  PO11  PO12
0    1    0    0    0    0    0    0    0    0     0     0     0
1    0    1    0    0    0    0    0    0    0     0     0     0
2    0    0    1    0    0    0    0    0    0     0     0     0
3    1    0    0    0    0    0    0    0    0     0     0     0
4    0    0    1    0    0    0    0    0    0     0     0     0

In [675]:
df3 = d.copy()
df3_original = d.copy()

In [676]:
for x in range(len(df)):
  df3[PO_LABEL+str(x+1)] = np.where(dd[PO_LABEL+str(x+1)] == df3[PO_LABEL+str(x+1)], 'True', 'False')
  df3_original[PO_LABEL+str(x+1)] = np.where(dd_original[PO_LABEL+str(x+1)] == df3_original[PO_LABEL+str(x+1)], 'True', 'False')

In [677]:
df3.head()

     PO1    PO2    PO3   PO4   PO5   PO6   PO7   PO8   PO9  PO10  PO11  PO12
0  False   True   True  True  True  True  True  True  True  True  True  True
1   True  False   True  True  True  True  True  True  True  True  True  True
2   True   True  False  True  True  True  True  True  True  True  True  True
3  False  False   True  True  True  True  True  True  True  True  True  True
4   True   True  False  True  True  True  True  True  True  True  True  True

In [678]:
df3_original.head()

     PO1    PO2    PO3    PO4   PO5   PO6   PO7   PO8   PO9  PO10  PO11  PO12
0  False   True   True   True  True  True  True  True  True  True  True  True
1   True  False   True  False  True  True  True  True  True  True  True  True
2   True   True   True  False  True  True  True  True  True  True  True  True
3  False   True   True   True  True  True  True  True  True  True  True  True
4   True   True  False   True  True  True  True  True  True  True  True  True

In [679]:
for x in range(len(df)):
  df3[PO_LABEL+str(x+1)] = df3[PO_LABEL+str(x+1)].replace('True', 1)
  df3[PO_LABEL+str(x+1)] = df3[PO_LABEL+str(x+1)].replace('False', 0)
  
  df3_original[PO_LABEL+str(x+1)] = df3_original[PO_LABEL+str(x+1)].replace('True', 1)
  df3_original[PO_LABEL+str(x+1)] = df3_original[PO_LABEL+str(x+1)].replace('False', 0)

In [680]:
df3.head()

   PO1  PO2  PO3  PO4  PO5  PO6  PO7  PO8  PO9  PO10  PO11  PO12
0    0    1    1    1    1    1    1    1    1     1     1     1
1    1    0    1    1    1    1    1    1    1     1     1     1
2    1    1    0    1    1    1    1    1    1     1     1     1
3    0    0    1    1    1    1    1    1    1     1     1     1
4    1    1    0    1    1    1    1    1    1     1     1     1

In [681]:
df3_original.head()

   PO1  PO2  PO3  PO4  PO5  PO6  PO7  PO8  PO9  PO10  PO11  PO12
0    0    1    1    1    1    1    1    1    1     1     1     1
1    1    0    1    0    1    1    1    1    1     1     1     1
2    1    1    1    0    1    1    1    1    1     1     1     1
3    0    1    1    1    1    1    1    1    1     1     1     1
4    1    1    0    1    1    1    1    1    1     1     1     1

In [682]:
# calculating accuracy of the table
df3['acc'] = df3.mean(axis=1)
df3.head(n=100)

# calculating accuracy of the table
df3_original['acc'] = df3_original.mean(axis=1)
df3_original.head(n=100)

    PO1  PO2  PO3  PO4  PO5  PO6  PO7  PO8  PO9  PO10  PO11  PO12       acc
0     0    1    1    1    1    1    1    1    1     1     1     1  0.916667
1     1    0    1    0    1    1    1    1    1     1     1     1  0.833333
2     1    1    1    0    1    1    1    1    1     1     1     1  0.916667
3     0    1    1    1    1    1    1    1    1     1     1     1  0.916667
4     1    1    0    1    1    1    1    1    1     1     1     1  0.916667
..  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...       ...
82    1    1    1    1    1    1    1    1    1     1     1     0  0.916667
83    1    1    1    1    1    1    1    1    1     1     1     1  1.000000
84    0    1    1    1    0    0    1    1    1     1     0     1  0.666667
85    1    1    1    1    1    0    1    1    1     1     1     0  0.833333
86    0    0    1    0    0    0    1    1    1     1     1     1  0.583333

[87 rows x 13 columns]

In [683]:
df4 = pd.concat([df1[0],df1[1], df3], axis=1)
df4.head(n=100)

,0,1,PO1,PO2,PO3,PO4,PO5,PO6,PO7,PO8,PO9,PO10,PO11,PO12,acc
0,LO1-MA,Describe the underlying theoretical basis of t...,0,1,1,1,1,1,1,1,1,1,1,1,0.916667
1,LO2-MA,Design a relational database model based on th...,1,0,1,1,1,1,1,1,1,1,1,1,0.916667
2,LO3-MA,Implement a database based on a sound database...,1,1,0,1,1,1,1,1,1,1,1,1,0.916667
3,LO4-MA,Contrast the differences between non-relationa...,0,0,1,1,1,1,1,1,1,1,1,1,0.833333
4,LO5-MA,Develop programming structures within a databa...,1,1,0,1,1,1,1,1,1,1,1,1,0.916667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,LO2-MA,Evaluate and apply the basic tools and techniq...,0,1,1,1,1,1,1,0,1,1,1,1,0.833333
83,LO3-MA,"Evaluate the interconnection of quality, heath...",0,1,1,1,1,0,1,0,1,1,1,0,0.666667
84,LO4-MA,Understand and evaluate the need for sustainab...,1,0,1,1,1,1,1,1,1,1,1,1,0.916667
85,LO5-MA,Explain the contract laws and apply ethical pr...,0,1,1,1,1,1,1,1,1,1,1,0,0.833333
86,LO6-MA,Communicate effectively on complex Civil engin...,1,1,1,1,1,1,1,1,0,1,1,1,0.916667

In [684]:
df4_original = pd.concat([df1[0],df1[1], df3_original], axis=1)

df4["acc_improved"] = df4['acc'] >= df4_original['acc']
df4["acc_improved_by"] = df4['acc'] - df4_original['acc']

df4_original.head(n=100)

,0,1,PO1,PO2,PO3,PO4,PO5,PO6,PO7,PO8,PO9,PO10,PO11,PO12,acc
0,LO1-MA,Describe the underlying theoretical basis of t...,0,1,1,1,1,1,1,1,1,1,1,1,0.916667
1,LO2-MA,Design a relational database model based on th...,1,0,1,0,1,1,1,1,1,1,1,1,0.833333
2,LO3-MA,Implement a database based on a sound database...,1,1,1,0,1,1,1,1,1,1,1,1,0.916667
3,LO4-MA,Contrast the differences between non-relationa...,0,1,1,1,1,1,1,1,1,1,1,1,0.916667
4,LO5-MA,Develop programming structures within a databa...,1,1,0,1,1,1,1,1,1,1,1,1,0.916667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,LO2-MA,Evaluate and apply the basic tools and techniq...,1,1,1,1,1,1,1,1,1,1,1,0,0.916667
83,LO3-MA,"Evaluate the interconnection of quality, heath...",1,1,1,1,1,1,1,1,1,1,1,1,1.000000
84,LO4-MA,Understand and evaluate the need for sustainab...,0,1,1,1,0,0,1,1,1,1,0,1,0.666667
85,LO5-MA,Explain the contract laws and apply ethical pr...,1,1,1,1,1,0,1,1,1,1,1,0,0.833333
86,LO6-MA,Communicate effectively on complex Civil engin...,0,0,1,0,0,0,1,1,1,1,1,1,0.583333

In [685]:
df4.set_index(0, inplace=True)
df4.head(n=100)


df4.to_csv('PO_Mapper_WasMappingSuccessful.csv')

In [686]:
df4_original.set_index(0, inplace=True)
df4_original.head(n=100)

df4_original.to_csv('PO_Mapper_WasMappingSuccessful_original.csv')

In [687]:
merged_df = df4.merge(df4_original,how='inner')
# merged_df['PO1']
# merged_df = merged_df[merged_df['Value1'] == merged_df['Value2']]

In [688]:
df4_original['acc'].mean()

0.8544061302681993

In [689]:
df4['acc'].mean()

0.8773946360153257